<aside class="right-side" ng-controller="BandController" ng-init="init()">
    <h2 style="padding-left: 20px;">New Band</h2>
    <form action="#" method="get" style="padding-left: 50px; padding-top: 20px; max-width:475px;">
        <h4> Band Info </h4>  
        <input type="text" name="bandname" class="form-control" ng-model="band.name" placeholder="Band Name"/><br>
        <input type="text" name="frontman" class="form-control" placeholder="{{user.username}}" readonly/><br>
        <button ng-click="createband()" class="button" style="background-color: rgb(77, 144, 254) !important;
background-image: -webkit-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237)) !important;border-color: rgb(48, 121, 237) !important; margin-top: 20px;"><i class="fa fa-check"></i> Create Band</button>
    </form>
</aside>