<!DOCTYPE html>
<html lang='en' ng-app='enchord'>

<head>
    <% include head.ejs %>
    <% include css.ejs %>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
</head>

<body class="skin-black" ng-controller="SongEditController">
        <% include pageheader.ejs %>
        <div class="wrapper row-offcanvas row-offcanvas-left" ng-controller="ArtistController" ng-init="init('<%= artistname %>')">
            <% include side_artistpage.ejs %>
            <% include partial_artistpage.ejs %>
        </div>
        <% include scripts.ejs %>
</body>
</html>

