<!DOCTYPE html>
<html lang='en' ng-app='enchord'>
<!--<html lang='en'>-->
  <head>
    <% include head.ejs %>
  </head>
  <body ng-controller="SongEditController">
  <div class="container">
    <!-- TODO: show any messages that come back diff between good/bad-->
	<div ng-show="message.length > 0 && !hasError" class="alert alert-success">{{ message }}</div>
    <div ng-show="message.length > 0 && hasError" class="alert alert-danger">{{ message }}</div>
    <!-- <form < if (isNew) { >action="/createSong"< } else { >action="/editSong"< } > method="post" name="songEditForm" novalidate> -->
    <form method="post" name="songEditForm" novalidate>   
        <div class="row" ng-init="init('<%= song._id %>')">
            <!-- TITLE -->
            <div class="col-md-4">
                <div class="form-group" ng-class="{ 'has-error' : songEditForm.title.$invalid && !songEditForm.title.$pristine }">
                    <label class="control-label" for="title">Title*</label>          
                    <input type="text" name="title" class="form-control" ng-model="song.title" ng-minlength="1" ng-maxlength="100" placeholder="Title" ng-pattern="/^[A-Za-z0-9 \$\?\!\&\-\_\']*$/" required>
                    <span ng-show="songEditForm.title.$error.required && !songEditForm.title.$pristine" class="help-block">Enter the title of the song</span>
                    <span ng-show="songEditForm.title.$error.minlength" class="help-block">Title is too short</span>
                    <span ng-show="songEditForm.title.$error.maxlength" class="help-block">Title is too long (sorry!)</span>
                    <span ng-show="songEditForm.title.$error.pattern" class="help-block">Invalid characters. Please use only alphanumeric characters or $?!&-_'</span>
                </div>
            </div>
        
            <!-- ARTIST -->
            <div class="col-md-4">
                <div class="form-group" ng-class="{ 'has-error' : songEditForm.artist.$invalid && !songEditForm.artist.$pristine }">
                    <label class="control-label" for="artist">Artist*</label>
                    <input type="text" name="artist" class="form-control" ng-model="song.artist" ng-minlength="1" ng-maxlength="100" placeholder="Artist" ng-pattern="/^[A-Za-z0-9 \$\?\!\&\-\_\']*$/" required>
                    <span ng-show="songEditForm.artist.$error.required && !songEditForm.artist.$pristine" class="help-block">Enter the artist of the song</span>
                    <span ng-show="songEditForm.artist.$error.minlength" class="help-block">Artist is too short</span>
                    <span ng-show="songEditForm.artist.$error.maxlength" class="help-block">Artist is too long (sorry!)</span>
                    <span ng-show="songEditForm.artist.$error.pattern" class="help-block">Invalid characters. Please use only alphanumeric characters or $?!&-_</span>
                </div>
            </div>
        
            <!-- GENRE -->
            <div class="col-md-4">
                 <div class="form-group" ng-class="{ 'has-error' : songEditForm.genre.$invalid && !songEditForm.genre.$pristine }">
                    <label class="control-label" for="genre">Genre</label>
                    <input type="text" name="genre" class="form-control" ng-model="song.genre" ng-maxlength="100" ng-pattern="/^[A-Za-z0-9-_ ]*$/" placeholder="Genre">
                    <span ng-show="songEditForm.genre.$error.maxlength" class="help-block">Input is too long</span>
                    <span ng-show="songEditForm.genre.$error.pattern" class="help-block">Invalid characters. Please use only alphanumeric characters or '-' or '_'</span>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- MARKUP -->
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error' : songEditForm.data.$invalid && !songEditForm.data.$pristine }">
                    <label class="control-label" for="data">Lyrics/Chords</label>
                    <textarea name="data" class="form-control" ng-maxlength="10000" ng-model="song.data" ng-change="parsehtml()" ng-pattern="/^[A-Za-z0-9 \$\?\!\&\-\_\,\.\;\:\(\)\{\}\[\]\<\>\n\t\'&#34;\~\|\@\/\\\#\%\^\*\+\=]*$/" ></textarea>
                    <!--<input type="text" name="artist" class="form-control" ng-model="song.artist" ng-minlength="1" ng-maxlength="100" placeholder="Artist" >-->
                    <span ng-show="songEditForm.data.$error.maxlength" class="help-block">Song is too long (sorry!)</span>
                    <span ng-show="songEditForm.data.$error.pattern" class="help-block">Invalid characters. Please use only alphanumeric characters or $?!&-_,.;:(){}[]<>'&#34;|@~/\#%^*+=</span>
                </div>
            </div>

            <!-- CHORD SHEET -->
            <!-- <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error' : songEditForm.result.$invalid && !songEditForm.result.$pristine }">
                    <label class="control-label" for="result">Live View</label>
                    <textarea name="result" style="font-family:Courier" class="form-control" ng-model="song.result" disabled></textarea>
                </div>
            </div> -->

            <div class="chordSheet col-md-6" ng-bind-html="parsedResult()">
            </div>
        </div>

        <!-- PUBLIC OR PRIVATE -->
        <div class="row">
            <div class="radio">
                <label>
                    <input type="radio" name="type" ng-model="song.pub"   ng-value=true>
                        Public
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="type" ng-model="song.pub" ng-value=false>
                        Private
                </label>
            </div>
        </div>

        <!-- SONG_ID -->
        <input type="hidden" name="_id" ng-model="song._id">
        
        <!-- CONTENT -->
        <!--<div class="form-group" ng-class="{ 'has-error' : songEditForm.genre.$invalid && !songEditForm.genre.$pristine }">-->
        
        <button ng-disabled="songEditForm.$invalid" ng-init="isNew = <%= isNew %>" ng-show="isNew" ng-click="createsong()" type="submit" class="btn btn-default">Create</button>
        <button ng-disabled="songEditForm.$invalid" ng-show="!isNew" ng-click="editsong()" type="submit" class="btn btn-default">Save</button> 
        <button ng-disabled="songEditForm.$invalid" ng-show="!isNew" ng-click="deletesong()" type="submit" class="btn btn-default">Delete</button>

        <a href="/members">Return to members page</a>
        <a href="/createsong">Create new song</a>
       <!--  < if (isNew) { >
        	<button ng-disabled="songEditForm.$invalid" type="submit" class="btn btn-default">Create</button>    
        < } else {>
        	<button ng-disabled="songEditForm.$invalid" type="submit" class="btn btn-default">Save</button> 
        	<button ng-disabled="songEditForm.$invalid" type="submit" class="btn btn-default">Delete</button> 
        < } > -->
    </form>
  </body>
</html>