<!DOCTYPE html>
<html lang='en' ng-app='enchord'>

<head>
    <% include head.ejs %>
    <% include css.ejs %>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="/css/test.css" rel="stylesheet" type="text/css"/>
</head>

<body class="skin-black" ng-controller="ProfileController" style="font-family:'Proxima Nova', sans-serif;">
        <% include pageheader.ejs %>
        <div class="wrapper row-offcanvas row-offcanvas-left" ng-controller="SongEditController" ng-init="init('<%= _id %>')">
            <% include side_editsong.ejs %>
            <% include partial_editsong.ejs %>
        </div>
        <% include scripts.ejs %>
</body>
</html>