<!DOCTYPE html>
<!--<html lang='en' ng-app='enchord'>-->
<html lang='en'>
  <head>
    <% include head.ejs %>
  </head>
  <body>
    <h1>Welcome to Enchord22</h1>
	<a href="/about">About</a>
	<a href="/login">Login</a>
	<a href="/signup">Signup</a>
  </body>
</html>