<!DOCTYPE html>
<html lang='en' ng-app='enchord'>

<head>
    <% include head.ejs %>
    <% include css.ejs %>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
</head>

<body class="skin-black" ng-controller="ProfileController">
        <% include pageheader.ejs %>
        <div class="wrapper row-offcanvas row-offcanvas-left" ng-Controller = "FolderViewController" ng-init="init('<%= _id %>')">
            <% include side_editfolder %>
            <% include partial_viewfolder %>
        </div>
        <% include scripts.ejs %>     
    </body>
</html>