<!DOCTYPE html>
<html lang='en' ng-app='enchord'>
<!--<html lang='en'>-->
  <head>
  	<% include head.ejs %>
  </head>
  <body ng-controller="SongEditController">
  	<div class="container">
  		<h1><%= authorName %></h1>
		<p> <%= results.length %> results </p>
		
  		<% for(var i = 0; i < results.length; i++) { %>
			<li><a href="/viewfoldersongs/<%= results[i]._id %>"><%= results[i].name %></a></li>
		<% } %>
		<a href="/members">Back to member page</a>
  	</div>
  </body>