<!-- <!DOCTYPE html> -->
<!-- <html lang='en' ng-app='enchord'> -->
<!--<html lang='en'>-->
  <!-- <head>
  </head>
  <body ng-controller="LoginController">

    <% if (messageerror.length > 0) { %>
      <div class="alert alert-danger"><%= messageerror %></div>
    <% } %>
    <% if (messageinfo.length > 0) { %>
      <div class="alert alert-danger"><%= messageinfo %></div>
    <% } %>
  	 <!-- pass in the variable if our form is valid or invalid -->
    <!-- <form action="/forgot" method="post" name="loginForm" novalidate>
        
        <!-- USERNAME -->
        <!-- <div class="form-group" ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
            <label class="control-label" for="username">Email</label>
            <input type="text" name="email" class="form-control" ng-model="user.email" ng-minlength="3" ng-maxlength="50" placeholder="Email" required>
            <span ng-show="loginForm.username.$error.required && !loginForm.username.$pristine" class="help-block">Enter your email</span>
            <span ng-show="loginForm.username.$error.minlength" class="help-block">Username is too short</span>
            <span ng-show="loginForm.username.$error.maxlength" class="help-block">Username is too long</span>
        </div>
        
        <button ng-disabled="loginForm.$invalid" type="submit" class="btn btn-primary">Submit</button> -->
        
<!--     </form> -->
 <!--  </body>
</html> --> 

<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
  <link href="css/login.css" rel="stylesheet">
</head>
<body ng-controller="LoginController">
<div id='wrapper'>
<div id='content'>
  <form class="new_user" id="new_user" action="/forgot" method="post" name="loginForm" novalidate>
        <p style="line-height:1.4em;">Forgot your password? It happens. Enter your email address below and we'll email you with further instructions.</p>
        <p>If you remember your password, <a href="/login">log in here</a></p>
        <div style="line-height:2.0em;"><label for="user_email">Email</label><br />
        <input autofocus="autofocus" type="email" placeholder="Email" name ="email" ng-model="user.email" ng-minlength="3" ng-maxlength="50" required><br/>

        <div><input name="commit" type="submit" value="Reset my password" onclick="submitOnClick('loginForm')"/></div>

  </div></div>
  <script type="text/javascript">
    function submitOnClick(formName){
        document.forms[formName].submit();
    }
  </script>
</body>
</html>