	<title><%= title %></title>
    <!-- Bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<!-- Custom css -->
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<!-- JQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<!-- Bootstrap js -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<!-- Angular js -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.min.js"></script>
	<!-- Custom Angular js -->
	<script src="javascripts/app.js"></script>
	<script src="javascripts/animations.js"></script>
	<script src="javascripts/controllers.js"></script>
	<script src="javascripts/filters.js"></script>
	<script src="javascripts/services.js"></script>
	<!-- Custom js -->
	<script src="javascripts/validation.js"></script>