	<title>EnChord</title>
    <!-- Bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<!-- Custom css -->
	<!-- JQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<!-- Bootstrap js -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<!-- Angular js -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-sanitize.min.js"></script>
	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script> -->
	<!-- Custom Angular js -->
	<script src="/javascripts/app.js"></script>
	<script src="/javascripts/animations.js"></script>
	<script src="/javascripts/controllers.js"></script>
	<script src="/javascripts/filters.js"></script>
	<script src="/javascripts/services.js"></script>
	<!-- Custom js -->
	<script src="/javascripts/validation.js"></script>
	<!--<script src="/javascripts/parser.js"></script>-->
	<!-- to pdf -->
	<script src="/javascripts/html2canvas.js"></script>
	<script src="/javascripts/jspdf.js"></script>
	<script src="/javascripts/jspdf.min.js"></script>
	<script src="/javascripts/jspdf.plugin.addimage.js"></script>
	<script src="/javascripts/jspdf.plugin.from_html.js"></script>
	<script src="/javascripts/jspdf.plugin.split_text_to_size.js"></script>
	<script src="/javascripts/jspdf.plugin.standard_fonts_metrics.js"></script>
	<script src="/javascripts/rasterizeHTML.min.js"></script>
	<!-- Web Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
	<!-- Markup CSS, feel free to move this -->
	<link rel="stylesheet" href="/css/markup.css">