<!DOCTYPE html>
<html lang='en' ng-app='enchord'>

<head>
    <% include head.ejs %>
    <% include css.ejs %>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="/css/test.css" rel="stylesheet" type="text/css"/>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50842151-1', 'enchord.me');
  ga('send', 'pageview');

</script>
</head>

<body class="skin-black" ng-controller="ProfileController" style="font-family:'Proxima Nova', sans-serif;">
        <% include pageheader.ejs %>
        <div class="wrapper row-offcanvas row-offcanvas-left" ng-controller="ProfileController" ng-init="init()">
            <% include loading.ejs %>
            <% include side_default.ejs %>
            <% include partial_library.ejs %>
        </div>
        <% include scripts.ejs %>
</body>
</html>