<!DOCTYPE html>
<html lang='en' ng-app='enchord'>
<!--<html lang='en'>-->
  <head>
    <% include head.ejs %>
  </head>
<<<<<<< HEAD
  <body ng-controller="LoginController">
  	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>
  	 <!-- pass in the variable if our form is valid or invalid -->
    <form action="/login" method="post" name="loginForm" novalidate>
        
        <!-- USERNAME -->
        <div class="form-group" ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
            <label class="control-label" for="username">Username</label>
            <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="20" placeholder="Username" required>
            <span ng-show="loginForm.username.$error.required && !loginForm.username.$pristine" class="help-block">Enter your username</span>
            <span ng-show="loginForm.username.$error.minlength" class="help-block">Username is too short</span>
            <span ng-show="loginForm.username.$error.maxlength" class="help-block">Username is too long</span>
        </div>
            
        <!-- PASSWORD -->
        <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
            <label class="control-label" for="password">Password</label>
            <input type="password" name="password" class="form-control" ng-model="user.password" placeholder="Password" required>
            <span ng-show="loginForm.password.$error.required && !loginForm.password.$pristine" class="help-block">Enter your password</span>
        </div>
        
        <button ng-disabled="loginForm.$invalid" type="submit" class="btn btn-primary">Submit</button>
        
    </form>
	<p>Need an account? <a href="/signup">Signup</a></p>
	<p>Or go <a href="/">home</a>.</p>
  </body>
</html>