<aside class="right-side">
    <section class="content-header">
        <h1>
            Search Results
            <% if(isLoggedIn) { %><small>{{ globalresults.length + localresults.length}} songs found</small><% } else { %>
            <small>{{ globalresults.length}} songs found</small><% } %>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/searchresults/{{query}}"><i class="fa fa-search"></i> "{{query}}"</a></li>
            <li class="active">Results</li>
        </ol>
    </section>
    <% if(isLoggedIn) { %><h3 style= "padding-left: 15px;">Searching My Library</h3>
    <table class="table" name="local">
        <thead>
            <tr>
                <th class="col-sm-2"><a href="" ng-click="setPredicateLocal('upvote')"><i style="margin-left: 20px;" class="fa fa-star" style="color:yellow;"></a></th>
                <th class="col-sm-6"><a href="" ng-click="setPredicateLocal('title')">Song</a></th>
                <th class="col-sm-2"><a href="" ng-click="setPredicateLocal('artist')">Artist</a></th>
                <th class="col-sm-6"><a href="" ng-click="setPredicateLocal('author_name')">Created By</a></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="song in localresults | orderBy:predicate:reverse | startFrom:currentPageLocal*pageSizeLocal | limitTo:pageSizeLocal">
                <td style="max-width: 20px;"><i style="margin-left: 20px;" class="fa fa-star" style="color:yellow;"></i> {{song.upvote}}</td>
                <td><a href="/viewsong/{{song._id}}">{{ song.title }}</a></td>
                <td><a href="/artist/{{song.artist}}">{{ song.artist }}</a></td>
                <td>{{ song.author_name }}</td>
            </tr>
        </tbody>
         <button ng-disabled="currentPageLocal == 0" ng-click="currentPageLocal = currentPageLocal-1">
            Previous
        </button>
            {{currentPageLocal+1}}/{{numberOfPagesLocal()}}
        <button ng-disabled="currentPageLocal >= localresults.length/pageSizeLocal - 1"  ng-click="currentPageLocal = currentPageLocal+1">
            Next
        </button>
        <select ng-model="pageSizeLocal" ng-options="pageSizeLocal for pageSizeLocal in pageSizesLocal"></select> (songs per page)
    </table>
    <h3 style= "padding-left: 15px;">Searching Enchord</h3><% } %>
    <table class="table" name="global">
        <thead>
            <tr>
                <th class="col-sm-2"><a href="" ng-click="setPredicateGlobal('upvote')"><i style="margin-left: 20px;" class="fa fa-star" style="color:yellow;"></a></th>
                <th class="col-sm-6"><a href="" ng-click="setPredicateGlobal('title')">Song</a></th>
                <th class="col-sm-2"><a href="" ng-click="setPredicateGlobal('artist')">Artist</a></th>
                <th class="col-sm-6"><a href="" ng-click="setPredicateGlobal('author_name')">Created By</a></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="song in globalresults | orderBy:predicate:reverse | startFrom:currentPageGlobal*pageSizeGlobal | limitTo:pageSizeGlobal">
                <td style="max-width: 20px;"><i style="margin-left: 20px;" class="fa fa-star" style="color:yellow;"></i> {{song.upvote}}</td>
                <td><a href="/viewsong/{{song._id}}">{{ song.title }}</a></td>
                <td><a href="/artist/{{song.artist}}">{{ song.artist }}</a></td>
                <td>{{ song.author_name }}</td>
            </tr>
        </tbody>
        <select ng-model="pageSizeGlobal" ng-options="pageSizeGlobal for pageSizeGlobal in pageSizesGlobal"></select> (songs per page)
    </table>   
    <div style="text-align:center">
        <button ng-disabled="currentPageGlobal == 0" ng-click="currentPageGlobal = currentPageGlobal-1"><</button>
        Page {{currentPageGlobal+1}} of {{numberOfPagesGlobal()}}
        <button ng-disabled="currentPageGlobal >= globalresults.length/pageSizeGlobal - 1"  ng-click="currentPageGlobal = currentPageGlobal+1">></button>  
    </div> 
</aside>