<aside class="right-side">
    <section class="content-header">
        <h1>
            Search Results
            <small>500+ songs found</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-search"></i> "searchquery"</a></li>
            <li class="active">Results</li>
        </ol>
    </section>
    <h3 style= "padding-left: 15px;">Local</h3>
    <table class="table" name="local">
        <thead>
            <tr>
                <th style="max-width: 10px;"></th>
                <th style="max-width: 5px;"></th>
                <th>Song</th>
                <th>Arist</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="max-width: 10px;"><i style="margin-left: 20px;" class="fa fa-star-o"></i> 50</td>
                <td style="max-width: 5px;"><i style="margin-left: 10px;" class="fa fa-plus"></i></td>
                <td>Soul Meets Body</td>
                <td>Death Cab For Cutie</td>
                <td>User</td>
            </tr>
            </tr>
        </tbody>
    </table>
    <h3 style= "padding-left: 15px;">Global</h3>
    <table class="table" name="global">
        <thead>
            <tr>
                <th style="max-width: 10px;"></th>
                <th style="max-width: 5px;"></th>
                <th>Song</th>
                <th>Arist</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="max-width: 10px;"><i style="margin-left: 20px;" class="fa fa-star-o"></i> 50</td>
                <td style="max-width: 5px;"><i style="margin-left: 10px;" class="fa fa-plus"></i></td>
                <td>Song Name</td>
                <td>Death Cab For Cutie</td>
                <td>User</td>
            </tr>
        </tbody>
    </table>   
</aside>