<aside class="right-side">
    <h2 style="padding-left: 20px;">Edit Folder</h2>
    <form style="padding-left: 50px; padding-top: 20px; max-width:475px;" name="addSongForm" novalidate>

        <h4> Folder Info </h4>  
        <input type="text" name="foldername" ng-model="folder.name" class="form-control" placeholder="Folder Name"/><br>
        <button class="button" ng-show="!addSongMode" ng-click="enterAddSongMode()" style="background-color: rgb(200, 80, 70) !important; background-image: -webkit-linear-gradient(top,rgb(250, 80, 70),rgb(250, 80, 80)) !important; margin-top: 20px; margin-bottom: 50px;"></i>Add Songs</button>
        <button class="button" ng-show="addSongMode" ng-click="leaveAddSongMode()" style="background-color: rgb(200, 80, 70) !important; background-image: -webkit-linear-gradient(top,rgb(250, 80, 70),rgb(250, 80, 80)) !important; margin-top: 20px; margin-bottom: 50px;"></i>Done Adding</button>
        <!-- <input type="text" name="owner" class="form-control" placeholder="user.username" readonly/><br> -->
        
        <div ng-show="!addSongMode">
        <h4> Songs</h4>

        <div style="margin-bottom:10px;" data-ng-repeat="song in folder.foldersongs">
            <input type="text" name="member1" class="form-control" placeholder="{{song.title}}" style="display:inline-block;" readonly/>
            <button ng-click="deletesong(song._id)" class="btn btn-mini" style="display:inline-block; margin-top:5px;"><i class= "fa fa-times"></i></button>
        </div>

        <button class="button" ng-click="renamefolder()" style="background-color: rgb(77, 144, 254) !important;
        background-image: -webkit-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237)) !important; margin-top: 20px; margin-bottom: 50px;">Rename Folder</button>

        <button class="button" ng-click="deletefolder()" style="background-color: rgb(200, 80, 70) !important;
        background-image: -webkit-linear-gradient(top,rgb(250, 80, 70),rgb(250, 80, 80)) !important; margin-top: 20px; margin-bottom: 50px;"><i class="fa fa-times"></i> Delete Folder</button>
        </div>

        <div ng-show="addSongMode">
       <input type="text" ng-show="addSongMode" name="query" ng-class="{ 'has-error' : addSongForm.query.$invalid && !addSongForm.query.$pristine }" ng-model="query" ng-minlength="1" ng-maxlength="100" placeholder="Title" ng-pattern="/^[A-Za-z0-9 \$\?\!\&\-\_\']*$/" required class="form-control" placeholder="Filter Songs" />
        
            <button ng-disabled="currentPage == 0" ng-click="currentPage = currentPage-1">
            Previous
        </button>
            {{currentPage+1}}/{{numberOfPages()}}
        <button ng-disabled="currentPage >= usersongs.length/pageSize - 1"  ng-click="currentPage = currentPage+1">
            Next
        </button>
        <select ng-model="pageSize" ng-options="pageSize for pageSize in pageSizes"></select> (songs per page)
        <table class="table">
        <thead>
            <tr>
                <th style="max-width: 20px;"></th>
                <!-- <th style="max-width: 5px;"></th> -->
                <th>Song</th>
                <th>Artist</th>
                <th>Song Type</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="song in usersongs | filter:query | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td style="max-width: 20px;"><i style="margin-left: 20px;" class="fa fa-star" style="color:yellow;"></i> {{song.upvote}}</td>
                <!--<td style="max-width: 5px;"><a href="/addsongtofolder/{{song._id}}" style="color:black" ><i style="margin-left: 10px;" class="fa fa-plus"></i></a></td>-->
                <td>{{ song.title }}</a></td>
                <td>{{ song.artist }}</a></td>
                <td ng-show="song.pub">Public</td> <!-- Probably have different images here -->
                <td ng-show="!song.pub">Private</td>
            </tr>
        </tbody>
    </table>
    </div>


    </form>

        
        
</aside>