<aside class="right-side">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><%= artistname %></li>
        </ol>
    </section>
    <h1><%= artistname %></h1>
    <table class="table">
        <thead>
            <tr>
                <th style="max-width: 20px;"></th>
                <!-- <th style="max-width: 5px;"></th> -->
                <th>Song</th>
                <th>Artist</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="song in artistsongs">
                <td style="max-width: 20px;"><i style="margin-left: 20px;" class="fa fa-star" style="color:yellow;"></i> {{song.upvote}}</td>
                <!-- <td style="max-width: 5px;"><i style="margin-left: 10px;" class="fa fa-plus"></i></td> -->
                <td><a href="/viewsong/{{song._id}}">{{ song.title }}</a></td>
                <td><a href="/artist/{{song.artist}}">{{ song.artist }}</a></td>
                <td>{{ song.genre }}</td>
            </tr>
        </tbody>
    </table>
</aside>