<aside class="right-side" style="background:#fff;">
	<form class="sidebar-form" name="markupForm" style="margin-top:0px; margin-left:0px; margin-bottom:0px;" novalidate>
	<div class="row">
        <!-- MARKUP -->

        <!-- This is the reverse parse window -->
        <!--  <div class="col-md-12" style="top:0px; left:0px; padding-right:0px;">
            <div class="form-group" style="margin-bottom:0px;"ng-class="{ 'has-error' : markupForm.data.$invalid && !markupForm.data.$pristine }">
            <textarea id="data" name="data" class="form-control" ng-maxlength="10000" ng-model="song.data" ng-change="parsehtml()" ng-pattern="/^[A-Za-z0-9 \$\?\!\&\-\_\,\.\;\:\(\)\{\}\[\]\<\>\n\t\'&#34;&lsquo;&rsquo;&ldquo;&rdquo;&ndash;&mdash;\~\|\/\\\#\%\^\*\+\=]*$/" style="min-height:656px; resize:none; background: #1d1f20; background: -webkit-linear-gradient(135deg, #1d1f20, #2f3031) !important; background: -o-linear-gradient(45deg, #1d1f20, #2f3031) !important; background: linear-gradient(45deg, #1d1f20, #2f3031) !important; color:#fff; top:0px; left:0px; border:#222; padding-top:15px;" placeholder="Copy and paste your chord sheet here..."></textarea>
            </div>
            </div> -->

        <div class="col-md-12" style="top:0px; left:0px; padding-right:0px;">
            <div class="form-group" style="margin-bottom:0px;"ng-class="{ 'has-error' : markupForm.data.$invalid && !markupForm.data.$pristine }">
                <!-- Make sure this has id = data -->
                <ul class="nav" style="background-color:#212327;display:inline-block; padding-top:10px; padding-bottom:10px; width:100%;">
                <li style="margin-left:5px; margin-right:15px; display:inline-block;">
                                    <span class="select">FONT</span>
                                    <select id="thickness" class="input-mini" style="background:#383A3C;">
                                        <option value="Arial">Arial</option>
                                        <option value="Helvetica">Helvetica</option>
                                        <option value="Raleway">Raleway</option>
                                    </select>
                                </li>
                                <li style="margin-right:15px; display:inline-block;">
                                    <span class="select">SIZE</span>
                                    <select id="thickness" class="input-mini" style="background:#383A3C;">
                                        <option value="8">8</option>
                                        <option value="10">10</option>
                                        <option value="12">12</option>
                                        <option value="14">14</option>
                                        <option value="16">16</option>
                                        <option value="18">18</option>
                                        <option value="20">20</option>
                                    </select>
                                </li>                                 
                            </ul>

                <textarea id="data" name="data" class="form-control" ng-maxlength="10000" ng-model="song.data" ng-change="parsehtml()" ng-pattern="/^[A-Za-z0-9 \$\?\!\&\-\_\,\.\;\:\(\)\{\}\[\]\<\>\n\t\'&#34;&lsquo;&rsquo;&ldquo;&rdquo;&ndash;&mdash;\~\|\/\\\#\%\^\*\+\=]*$/" style="min-height:656px; resize:none; background: #1d1f20; background: -webkit-linear-gradient(135deg, #1d1f20, #2f3031) !important; background: -o-linear-gradient(45deg, #1d1f20, #2f3031) !important; background: linear-gradient(45deg, #1d1f20, #2f3031) !important; color:#fff; top:0px; left:0px; border:#222; padding-top:15px;" placeholder="Let me hear your sweet, sweet tunes..."></textarea>
                <!--<input type="text" name="artist" class="form-control" ng-model="song.artist" ng-minlength="1" ng-maxlength="100" placeholder="Artist" >-->
                <span ng-show="markupForm.data.$error.maxlength" class="help-block">Song is too long (sorry!)</span>
                <span ng-show="markupForm.data.$error.pattern" class="help-block">Invalid characters. Please use only alphanumeric characters or $?!&-_,.;:(){}[]<>'&#34;|~/\#%^*+=</span>
            </div>
        </div>

        <!-- CHORD SHEET -->
        <!-- <div class="col-md-12" style="background:#fff;">
            <div class="form-group" style="background:#fff;" ng-class="{ 'has-error' : markupForm.result.$invalid && !markupForm.result.$pristine }">
                <label class="control-label" for="result">Live View</label>
                <textarea name="result" style="font-family:Courier; background:#fff; max-width:100%;" class="form-control" ng-model="song.result" disabled></textarea>
            </div>
        </div> -->

        <div class="chordSheet col-md-12" ng-bind-html="parsedResult()" style="min-height:656px; max-height: 656px;padding-left:15px; padding-top:15px; padding-right:0px; background:#fff; overflow-x:scroll; font-size:14px; font-family:Helvetica, sans-serif; overflow-y:scroll;">
        </div>
    </div>
	</form>
</aside>
