<aside class="right-side">
    <section class="content-header">
        <h1>
            Search Results
            <small>{{ globalresults.length + localresults.length}} songs found</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#/search/{{query}}"><i class="fa fa-search"></i> "{{query}}"</a></li>
            <li class="active">Results</li>
        </ol>
    </section>
    <h3 style= "padding-left: 15px;">Local</h3>
    <table class="table" name="local">
        <thead>
            <tr>
                <th style="max-width: 10px;"></th>
                <th>Song</th>
                <th>Arist</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="song in localresults">
                <td style="max-width: 10px;"><i style="margin-left: 20px;" class="fa fa-star-o"></i> {{song.upvote}}</td>
                <td><a href="/viewsong/{{song._id}}">{{ song.title }}</a></td>
                <td><a href="/artist/{{song.artist}}">{{ song.artist }}</a></td>
                <td>{{ song.author_name }}</td>
            </tr>
        </tbody>
    </table>
    <h3 style= "padding-left: 15px;">Global</h3>
    <table class="table" name="global">
        <thead>
            <tr>
                <th style="max-width: 10px;"></th>
                <th>Song</th>
                <th>Arist</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="song in globalresults">
                <td style="max-width: 10px;"><i style="margin-left: 20px;" class="fa fa-star-o"></i> 50</td>
                <td><a href="/viewsong/{{song._id}}">{{ song.title }}</a></td>
                <td><a href="/artist/{{song.artist}}">{{ song.artist }}</a></td>
                <td>{{ song.author_name }}</td>
            </tr>
        </tbody>
    </table>   
</aside>