<aside class="right-side" style="background:#fff;">
	<!-- <div id="chord_sheet">temp</div> -->
	<ul class="nav" style="background-color:#212327;display:inline-block; padding-top:10px; padding-bottom:10px; width:100%; font-family:avenir;">
		<% include partialmini_fonts.ejs %>
		<% include partialmini_transpose.ejs %>
	</ul>
	<div id="chord_sheet" class="chordSheet" ng-bind-html="parsedResult()" style="padding-left:15px; padding-top:15px; ">
	</div>
</aside>