<aside class="right-side">
    <!-- <section class="content-header">
        <h1>
            {{foldername}}
            <small>{{ folder.foldersongs.length }} songs</small>
        </h1><br>
        <p>Display <select ng-model="pageSizeFolder" ng-options="pageSizeFolder for pageSizeFolder in pageSizesFolder"></select> songs per page</p>
    </section> -->
    <div class="form-group" style="margin-bottom:0px;"ng-class="{ 'has-error' : markupForm.data.$invalid && !markupForm.data.$pristine }">
                <!-- Make sure this has id = data -->
                <ul class="nav" style="background-color:#212327;display:inline-block; padding-top:10px; padding-bottom:10px; width:100%; font-family:avenir; padding-left:10px;">
                <div style="float:right; margin-right:1.5%;">
                    <span class="select">DISPLAYING</span>
                    <select ng-model="pageSizeFolder" ng-options="pageSizeFolder for pageSizeFolder in pageSizesFolder"></select> 
                    <span class="select">SONGS PER PAGE</span> 
                    </div>
                    <button class="btn" ng-show="!addSongMode" ng-disabled="currentPageFolder == 0" ng-click="currentPageFolder = currentPageFolder-1" style="float:left;background:transparent; hover:cursor;text-decoration: none;padding: 0 14px;line-height: 30px;position: relative;color: #666;font-size: 14px;text-shadow: 0px 0px 1px #666;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">◀</button>

                    <button class="btn"  ng-show="!addSongMode" ng-disabled="currentPageFolder >= numberOfPagesFolder() - 1"  ng-click="currentPageFolder = currentPageFolder+1" style="float:left;background:transparent; hover:cursor;text-decoration: none;padding: 0 14px;line-height: 30px;position: relative;color: #666;font-size: 14px;text-shadow: 0px 0px 1px #666;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">▶</button>

                    <button class="btn" ng-show="addSongMode" ng-disabled="currentPageAddSongs == 0" ng-click="currentPageAddSongs = currentPageAddSongs-1" style="float:left;background:transparent; hover:cursor;text-decoration: none;padding: 0 14px;line-height: 30px;position: relative;color: #666;font-size: 14px;text-shadow: 0px 0px 1px #666;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">◀</button>

                    <button class="btn" ng-show="addSongMode" ng-disabled="currentPageAddSongs >= numberOfPagesAddSongs() - 1"  ng-click="currentPageAddSongs = currentPageAddSongs+1" style="float:left;background:transparent; hover:cursor;text-decoration: none;padding: 0 14px;line-height: 30px;position: relative;color: #666;font-size: 14px;text-shadow: 0px 0px 1px #666;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">▶</button>

                    <!-- <span class="select">{{currentPage + 1}} of {{numberOfPages()}}</span> -->

                    <input type="text" ng-show="addSongMode" name="query" ng-class="{ 'has-error' : addSongForm.query.$invalid && !addSongForm.query.$pristine }" ng-model="query" ng-minlength="1" ng-maxlength="100" ng-pattern="/^[A-Za-z0-9 \$\?\!\&\-\_\']*$/" required class="form-control" placeholder="Filter by songs, artists, genre..." style="max-width: 30%; margin-left: 20%;color: #666;-webkit-border-top-left-radius: 2px !important;-webkit-border-top-right-radius: 2px !important;-webkit-border-bottom-right-radius: 2px !important;-webkit-border-bottom-left-radius: 2px !important;-moz-border-radius-topleft: 2px !important;-moz-border-radius-topright: 2px !important;-moz-border-radius-bottomright: 2px !important;-moz-border-radius-bottomleft: 2px !important;border-top-left-radius: 2px !important;border-top-right-radius: 2px !important;border-bottom-right-radius: 2px !important;border-bottom-left-radius: 2px !important;background:transparent; border-color:#555; border-width:2px;" />
                </ul>
            </div>
    <div ng-show="!addSongMode">
    <div ng-show="foldersongs.length == 0">
        <h3 style= "padding-left: 15px;">This folder is empty</h3>
    </div>
    <div ng-show="foldersongs.length > 0">
        <table class="table" name="global">

            <thead>
                <tr>
                    <th class="col-sm-2"><i style="margin-left: 20px;" class="fa fa-star" style="color:yellow;"></th>
                    <th class="col-sm-6">Song</th>
                    <th class="col-sm-2">Artist</th>
                    <th class="col-sm-2">Genre</th>
                    <th class="col-sm-2" style="padding-right:5%; text-align:center;"> </th>
                    <th class="col-sm-2" style="padding-right:5%;" ng-show="editFolderMode"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="song in folder.foldersongs | startFrom:currentPageFolder*pageSizeFolder | limitTo:pageSizeFolder">
                    <td><i style="margin-left: 20px; color:#f1c40f" class="fa fa-star"></i> {{song.upvote}}</td>
                    <td><a href="/viewsong/{{song._id}}">{{ song.title }}</a></td>
                    <td><a href="/artist/{{song.artist}}">{{ song.artist }}</a></td>
                    <!-- <td><i class="fa fa-chevron-up"></i></td>
                    <td><i class="fa fa-chevron-down"></i></td> -->
                    <td>{{ song.genre }}</td>
                    <td ng-show="song.pub"><i class="fa fa-globe"></i></td> <!-- Probably have different images here -->
                    <td ng-show="!song.pub"><i class="fa fa-lock"></i></td>
                    <td ng-show="editFolderMode" style="text-align:center;"><a href="" ng-click="deletesong(song._id)"><i class="fa fa-times" style="color: #d14836;"></i></a></td>
                </tr>
            </tbody>
            
        </table>
    </div>
   <!--  <div style="text-align:center">
        <button ng-disabled="currentPageFolder == 0" ng-click="currentPageFolder = currentPageFolder-1">
            <
        </button>
            Page {{currentPageFolder+1}} of {{numberOfPagesFolder()}}
        <button ng-disabled="currentPageFolder >= numberOfPagesFolder() - 1"  ng-click="currentPageFolder = currentPageFolder+1">
            >
        </button>
    </div> -->
    </div>

    <!-- add song -->
    <div ng-show="addSongMode">
       <!-- <input type="text" ng-show="addSongMode" name="query" ng-class="{ 'has-error' : addSongForm.query.$invalid && !addSongForm.query.$pristine }" ng-model="query" ng-minlength="1" ng-maxlength="100" ng-pattern="/^[A-Za-z0-9 \$\?\!\&\-\_\']*$/" required class="form-control" placeholder="Filter Songs" style="max-width: 20%; margin-left: 5%;color: #666;
-webkit-border-top-left-radius: 2px !important;
-webkit-border-top-right-radius: 0 !important;
-webkit-border-bottom-right-radius: 0 !important;
-webkit-border-bottom-left-radius: 2px !important;
-moz-border-radius-topleft: 2px !important;
-moz-border-radius-topright: 0 !important;
-moz-border-radius-bottomright: 0 !important;
-moz-border-radius-bottomleft: 2px !important;
border-top-left-radius: 2px !important;
border-top-right-radius: 0 !important;
border-bottom-right-radius: 0 !important;
border-bottom-left-radius: 2px !important;" /> -->
       <!-- it would look bad to have messages here -->
        
        <!-- <p>Display <select ng-model="pageSizeAddSongs" ng-options="pageSizeAddSongs for pageSizeAddSongs in pageSizesAddSongs"></select> songs per page </p> -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-sm-2"><a href="" ng-click="setPredicate('upvote')"><i style="margin-left: 20px;" class="fa fa-star" style="color:yellow;"></a></th>
                    <!-- <th style="max-width: 5px;"></th> -->
                    <th class="col-sm-6"><a href="" ng-click="setPredicate('title')">Song</a></th>
                    <th class="col-sm-2"><a href="" ng-click="setPredicate('artist')">Artist</a></th>
                    <th class="col-sm-2"><a href="" ng-click="setPredicate('genre')">Genre</a></th>
                    <th class="col-sm-2"><a href="" ng-click="setPredicate('pub')"> </a></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="song in filteredsongs | filter:query | orderBy:predicate:reverse | startFrom:currentPageAddSongs*pageSizeAddSongs | limitTo:pageSizeAddSongs" ng-click="addToFolder(song._id)">
                    <td><i style="margin-left: 20px; color:#f1c40f" class="fa fa-star"></i> {{song.upvote}}</td>
                    <!--<td style="max-width: 5px;"><a href="/addsongtofolder/{{song._id}}" style="color:black" ><i style="margin-left: 10px;" class="fa fa-plus"></i></a></td>-->
                    <td>{{ song.title }}</a></td>
                    <td>{{ song.artist }}</a></td>
                    <td>{{ song.genre }}</td>
                    <td ng-show="song.pub"><i class="fa fa-globe"></i></td> <!-- Probably have different images here -->
                    <td ng-show="!song.pub"><i class="fa fa-lock"></i></td>
                </tr>
            </tbody>
        </table>
        <!-- <div style="text-align:center">

            <button ng-disabled="currentPageAddSongs == 0" ng-click="currentPageAddSongs = currentPageAddSongs-1">
                <
            </button>
                Page {{currentPageAddSongs+1}} of {{numberOfPagesAddSongs()}}
            <button ng-disabled="currentPageAddSongs >= numberOfPagesAddSongs() - 1"  ng-click="currentPageAddSongs = currentPageAddSongs+1">
                >
            </button>

              
        </div> -->
    </div>
   
</aside>