<aside class="right-side" ng-controller="ProfileController" ng-init="init()">
    <section class="content-header">
        <ol class="breadcrumb" style="margin-bottom:10px;">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">My Library</li>
        </ol>
        <p>Display <select ng-model="pageSize" ng-options="pageSize for pageSize in pageSizes"></select> songs per page</p>
    </section>
    <table class="table">
        <thead>
            <tr>
                <th class="col-sm-2"><a href="" ng-click="setPredicate('upvote')"><i style="margin-left: 20px;" class="fa fa-star" style="color:yellow;"></a></th>
                <!-- <th style="max-width: 5px;"></th> -->
                <th class="col-sm-6"><a href="" ng-click="setPredicate('title')">Song</a></th>
                <th class="col-sm-2"><a href="" ng-click="setPredicate('artist')">Artist</a></th>
                <th class="col-sm-2"><a href="" ng-click="setPredicate('genre')">Genre</a></th>
                <th class="col-sm-2"><a href="" ng-click="setPredicate('pub')">Song Type</a></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="song in usersongs | orderBy:predicate:reverse | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td><i style="margin-left: 20px; color:#f1c40f" class="fa fa-star"></i> {{song.upvote}}</td>
                <!--<td style="max-width: 5px;"><a href="/addsongtofolder/{{song._id}}" style="color:black" ><i style="margin-left: 10px;" class="fa fa-plus"></i></a></td>-->
                <td><a href="/viewsong/{{song._id}}">{{ song.title }}</a></td>
                <td><a href="/artist/{{song.artist}}">{{ song.artist }}</a></td>
                <td>{{ song.genre }}</td>
                <td ng-show="song.pub"><i class="fa fa-globe"></i></td> <!-- Probably have different images here -->
                <td ng-show="!song.pub"><i class="fa fa-lock"></i></td>
            </tr>
        </tbody>
        
    </table>
    <div style="text-align:center">
        <button ng-disabled="currentPage == 0" ng-click="currentPage = currentPage-1"><</button>
        Page {{currentPage+1}} of {{numberOfPages()}}
        <button ng-disabled="currentPage >= usersongs.length/pageSize - 1"  ng-click="currentPage = currentPage+1">></button>  
    </div>   
</aside>