<aside class="right-side" style="background:#fff;">
	<form class="sidebar-form" name="markupForm" style="margin-top:0px; margin-left:0px; margin-bottom:0px;" novalidate>
	<div class="row">
        <!-- MARKUP -->

        <!-- This is the reverse parse window -->
          <div ng-show='reverseParseMode' class="col-md-12" style="top:0px; left:0px; padding-right:0px;">
            <div class="form-group" style="margin-bottom:0px;" ng-class="{ 'has-error' : markupForm.data.$invalid && !markupForm.data.$pristine }">
            <textarea id="reverseParseData" name="reverseParseData" class="form-control" ng-maxlength="100000" ng-model="reverseParseData" ng-pattern="/^[A-Za-z0-9 \$\?\!\&\-\_\,\.\;\:\(\)\{\}\[\]\<\>\n\t\'&#34;&lsquo;&rsquo;&ldquo;&rdquo;&ndash;&mdash;\~\|\/\\\#\%\^\*\+\=]*$/" style="min-height:656px; resize:none; background: #1d1f20; background: -webkit-linear-gradient(135deg, #1d1f20, #2f3031) !important; background: -o-linear-gradient(45deg, #1d1f20, #2f3031) !important; background: linear-gradient(45deg, #1d1f20, #2f3031) !important; color:#fff; top:0px; left:0px; border:#222; padding-top:15px;" placeholder="Copy and paste your chord sheet here..."></textarea>
            </div>
            </div>

        <div ng-show='!reverseParseMode' class="col-md-6" style="top:0px; left:0px; padding-right:0px;">
            <div class="form-group" style="margin-bottom:0px;"ng-class="{ 'has-error' : markupForm.data.$invalid && !markupForm.data.$pristine }">
                <!-- Make sure this has id = data -->
                <ul class="nav" style="background-color:#212327;display:inline-block; padding-top:10px; padding-bottom:10px; width:100%;">
                <li style="margin-left:5px; margin-right:15px; display:inline-block;">
                                    <span class="select">STEPS</span>
                                    <select id="thickness" class="input-mini" ng-model="steps" ng-change="parsehtml()" style="background:#383A3C;">
                                        <option ng-value="0">0</option>
                                        <option ng-value="+1">+1</option>
                                        <option ng-value="+2">+2</option>
                                        <option ng-value="+3">+3</option>
                                        <option ng-value="+4">+4</option>
                                        <option ng-value="+5">+5</option>
                                        <option ng-value="+6">+6</option>
                                        <option ng-value="+7">+7</option>
                                        <option ng-value="+8">+8</option>
                                        <option ng-value="+9">+9</option>
                                        <option ng-value="+10">+10</option>
                                        <option ng-value="+11">+11</option>
                                        <option ng-value="-1">-1</option>
                                        <option ng-value="-2">-2</option>
                                        <option ng-value="-3">-3</option>
                                        <option ng-value="-4">-4</option>
                                        <option ng-value="-5">-5</option>
                                        <option ng-value="-6">-6</option>
                                        <option ng-value="-7">-7</option>
                                        <option ng-value="-8">-8</option>
                                        <option ng-value="-9">-9</option>
                                        <option ng-value="-10">-10</option>
                                        <option ng-value="-11">-11</option>
                                    </select>
                                </li>
                                <li style="margin-right:15px; display:inline-block;">
                                    <span class="select">PREFERENCE</span>
                                    <select id="thickness" ng-model="preference" class="input-mini" ng-change="parsehtml()" style="background:#383A3C;">
                                        <option ng-value="s">&#9839;</option>
                                        <option ng-value="f">&#9837;</option>
                                    </select>
                                </li>                                 
                            </ul>

                <textarea id="data" name="data" class="form-control" ng-maxlength="100000" ng-model="song.data" ng-change="parsehtml()" ng-pattern="/^[A-Za-z0-9 \$\?\!\&\-\_\,\.\;\:\(\)\{\}\[\]\<\>\n\t\'&#34;&lsquo;&rsquo;&ldquo;&rdquo;&ndash;&mdash;\~\|\/\\\#\%\^\*\+\=]*$/" style="min-height:85.8vh; font-family:Courier;resize:none; background: #1d1f20; background: -webkit-linear-gradient(135deg, #1d1f20, #2f3031) !important; background: -o-linear-gradient(45deg, #1d1f20, #2f3031) !important; background: linear-gradient(45deg, #1d1f20, #2f3031) !important; color:#fff; top:0px; left:0px; border:#222; padding-top:15px;" autofocus="autofocus" spellcheck="false"></textarea>
                <!--<input type="text" name="artist" class="form-control" ng-model="song.artist" ng-minlength="1" ng-maxlength="100" placeholder="Artist" >-->
                <span ng-show="markupForm.data.$error.maxlength" class="help-block">Song is too long (sorry!)</span>
                <span ng-show="markupForm.data.$error.pattern" class="help-block">Invalid characters. Please use only alphanumeric characters or $?!&-_,.;:(){}[]<>'&#34;|~/\#%^*+=</span>
            </div>
        </div>

        <!-- CHORD SHEET -->
        <!-- <div class="col-md-12" style="background:#fff;">
            <div class="form-group" style="background:#fff;" ng-class="{ 'has-error' : markupForm.result.$invalid && !markupForm.result.$pristine }">
                <label class="control-label" for="result">Live View</label>
                <textarea name="result" style="font-family:Courier; background:#fff; max-width:100%;" class="form-control" ng-model="song.result" disabled></textarea>
            </div>
        </div> -->

        <div ng-show='!reverseParseMode' class="col-md-6" style="top:0px; left:0px; padding-right:0px; padding-left:0px;">
            <div class="form-group" style="margin-bottom:0px;"ng-class="{ 'has-error' : markupForm.data.$invalid && !markupForm.data.$pristine }">
                <!-- Make sure this has id = data -->
                <ul class="nav" style="background-color:#212327;display:inline-block; padding-top:10px; padding-bottom:10px; width:100%;">
                <li style="display:inline-block; margin-right:15px;">
                                    <span class="select">FONT</span>
                                    <select id="thickness" class="input-mini" ng-model="font" ng-change="parsehtml()" style="background:#383A3C;">
                                        <option ng-value="Arial">Arial</option>
                                        <option ng-value="Helvetica">Helvetica</option>
                                        <option ng-value="Raleway">Raleway</option>
                                    </select>
                                </li>
                                <li style= "display:inline-block;">
                                    <span class="select">SIZE</span>
                                    <select id="thickness" ng-model="fontsize" class="input-mini" ng-change="parsehtml()" style="background:#383A3C;">
                                        <option ng-value="8">8</option>
                                        <option ng-value="10">10</option>
                                        <option ng-value="12">12</option>
                                        <option ng-value="14">14</option>
                                        <option ng-value="16">16</option>
                                        <option ng-value="18">18</option>
                                        <option ng-value="20">20</option>
                                    </select>
                                </li>                                 
                            </ul>

                <div ng-show='!reverseParseMode' class="chordSheet col-md-12" ng-bind-html="parsedResult()" style="max-height:85.8vh;padding-top:15px; min-width:100%;padding-right:0px; background:#fff; overflow-x:scroll; overflow-y:scroll;">
        </div>
            </div>
        </div>

        
    </div>
	</form>
</aside>
