<aside class="right-side">
    <section class="content-header">
        <h1>
            Search Results
            <% if(isLoggedIn) { %>
                <small ng-show="globalresults.length + localresults.length != 1">{{ globalresults.length + localresults.length}} songs found</small>
                <small ng-show="globalresults.length + localresults.length == 1">{{ globalresults.length + localresults.length}} song found</small>
            <% } else { %>
                <small ng-show="globalresults.length != 1">{{ globalresults.length}} songs found</small>
                <small ng-show="globalresults.length == 1">{{ globalresults.length}} song found</small>
            <% } %>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/searchresults/{{query}}"><i class="fa fa-search"></i> "{{query}}"</a></li>
            <li class="active">Results</li>
        </ol>
    </section>

    <div ng-show="globalresults.length + localresults.length == 0">
    <h3 style= "padding-left: 15px;">Didn't find what you were looking for? Here are some tips:</h3>
    <ul>
        <li>Our search engine does not search the lyrics. We don't want to flood you with too many results!</li>
        <li>Make sure everything is spelled EXACTLY as you want it. For example, "beatles" will show songs by the Beatles, but "betles" will not.</li>
        <li>Maybe we don't yet have what you're looking for. We're still growing our chord sheet database rapidly, but you can go ahead and use our easy-to-use editor to create your own songs <a href="/members/createsong">here</a>!</li>
    </ul>
    </div>

    <div ng-show="globalresults.length + localresults.length > 0">
        <% if(isLoggedIn) { %><h3 style= "padding-left: 15px;">Searching My Library
        <small ng-show="globalresults.length != 1">{{ localresults.length}} songs found</small>
        <small ng-show="globalresults.length == 1">{{ localresults.length}} song found</small></h3>
        <table class="table" name="local">
            <thead>
                <tr>
                    <th class="col-sm-2"><a href="" ng-click="setPredicateLocal('upvote')"><i style="margin-left: 20px;" class="fa fa-star"></a></th>
                    <th class="col-sm-6"><a href="" ng-click="setPredicateLocal('title')">Song</a></th>
                    <th class="col-sm-2"><a href="" ng-click="setPredicateLocal('artist')">Artist</a></th>
                    <th class="col-sm-6"><a href="" ng-click="setPredicateLocal('author_name')">Created By</a></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="song in localresults | orderBy:predicate:reverse | startFrom:currentPageLocal*pageSizeLocal | limitTo:pageSizeLocal">
                    <td style="max-width: 20px;"><i style="margin-left: 20px;color:yellow;" class="fa fa-star"></i> {{song.upvote}}</td>
                    <td><a href="/viewsong/{{song._id}}">{{ song.title }}</a></td>
                    <td><a href="/artist/{{song.artist}}">{{ song.artist }}</a></td>
                    <td>{{ song.author_name }}</td>
                </tr>
            </tbody>

            <p style="margin-left:15px; margin-bottom:15px;" >Display <select ng-model="pageSizeLocal" ng-options="pageSizeLocal for pageSizeLocal in pageSizesLocal"></select> songs per page</p>
        </table>
        <div style="text-align:center;">

            <button ng-disabled="currentPageLocal == 0" ng-click="currentPageLocal = currentPageLocal-1">
                <
            </button>
                Page {{currentPageLocal+1}} of {{numberOfPagesLocal()}}
            <button ng-disabled="currentPageLocal >= localresults.length/pageSizeLocal - 1"  ng-click="currentPageLocal = currentPageLocal+1">
                >
            </button>
        </div>
    </div>

    <div ng-show="globalresults.length + localresults.length > 0">
        <h3 style= "padding-left: 15px;">Searching Enchord
        <small ng-show="globalresults.length != 1">{{ globalresults.length}} songs found</small>
        <small ng-show="globalresults.length == 1">{{ globalresults.length}} song found</small></h3><% } %>
        <table class="table" name="global">
            <thead>
                <tr>
                    <th class="col-sm-2"><a href="" ng-click="setPredicateGlobal('upvote')"><i style="margin-left: 20px;" class="fa fa-star"></a></th>
                    <th class="col-sm-6"><a href="" ng-click="setPredicateGlobal('title')">Song</a></th>
                    <th class="col-sm-2"><a href="" ng-click="setPredicateGlobal('artist')">Artist</a></th>
                    <th class="col-sm-6"><a href="" ng-click="setPredicateGlobal('author_name')">Created By</a></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="song in globalresults | orderBy:predicate:reverse | startFrom:currentPageGlobal*pageSizeGlobal | limitTo:pageSizeGlobal">
                    <td style="max-width: 20px;"><i style="margin-left: 20px;color:yellow;" class="fa fa-star"></i> {{song.upvote}}</td>
                    <td><a href="/viewsong/{{song._id}}">{{ song.title }}</a></td>
                    <td><a href="/artist/{{song.artist}}">{{ song.artist }}</a></td>
                    <td>{{ song.author_name }}</td>
                </tr>
            </tbody>

            <p style="margin-left:15px; margin-bottom:15px;" >Display <select ng-model="pageSizeGlobal" ng-options="pageSizeGlobal for pageSizeGlobal in pageSizesGlobal"></select> songs per page </p>

        </table>   
        <div style="text-align:center">
            <button ng-disabled="currentPageGlobal == 0" ng-click="currentPageGlobal = currentPageGlobal-1"><</button>
            Page {{currentPageGlobal+1}} of {{numberOfPagesGlobal()}}
            <button ng-disabled="currentPageGlobal >= globalresults.length/pageSizeGlobal - 1"  ng-click="currentPageGlobal = currentPageGlobal+1">></button>  
        </div> 
    </div>
</aside>