<aside class="right-side">
            <h2 style="padding-left: 20px;">Advanced Search</h2>
            <form action="#" method="get" style="padding-left: 50px; padding-top: 20px; max-width:475px;">
                <input type="text" name="title" class="form-control" placeholder="Song Title"/><br>
                <input type="text" name="artist" class="form-control" placeholder="Artist"/><br>
                <input type="text" name="user" class="form-control" placeholder="User"/><br>
                <input type="text" name="genre" class="form-control" placeholder="Genre"/><br>

                <button class="button" style="background-color: rgb(77, 144, 254) !important;
background-image: -webkit-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237)) !important; margin-top: 20px; margin-bottom: 50px;"><i class="fa fa-search"></i>Search</button>
            </form>
</aside>