<aside class="right-side" ng-controller="ProfileController" ng-init="init()">
    <div class="form-group" style="margin-bottom:0px;"ng-class="{ 'has-error' : markupForm.data.$invalid && !markupForm.data.$pristine }">
                <!-- Make sure this has id = data -->
        <ul class="nav" style="background-color:#212327;display:inline-block; padding-top:10px; padding-bottom:10px; width:100%; font-family:avenir; padding-left:10px;">
            <div style="float:right; margin-right:1.5%;">
                <span class="select">DISPLAYING</span>
                <select ng-model="pageSize" ng-options="pageSize for pageSize in pageSizes"></select> 
                <span class="select">SONGS PER PAGE</span> 
            </div>
            <button class="btn" ng-disabled="currentPage == 0" ng-click="currentPage = currentPage-1" style="float:left;background:transparent; hover:cursor;text-decoration: none;padding: 0 14px;line-height: 30px;position: relative;color: #666;font-size: 14px;text-shadow: 0px 0px 1px #666;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">◀</button>
            <button class="btn" ng-disabled="currentPage >= usersongs.length/pageSize - 1"  ng-click="currentPage = currentPage+1" style="float:left;background:transparent; hover:cursor;text-decoration: none;padding: 0 14px;line-height: 30px;position: relative;color: #666;font-size: 14px;text-shadow: 0px 0px 1px #666;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">▶</button>
            <!-- <span class="select">{{currentPage + 1}} of {{numberOfPages()}}</span> -->
        </ul>
    </div>
<!--         <p>Display <select ng-model="pageSize" ng-options="pageSize for pageSize in pageSizes"></select> songs per page</p>
 -->    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-sm-2"><a href="" ng-click="setPredicate('upvote')"><i style="margin-left: 20px;" class="fa fa-star"></a></th>
                <!-- <th style="max-width: 5px;"></th> -->
                <th class="col-sm-6"><a href="" ng-click="setPredicate('title')">Song</a></th>
                <th class="col-sm-2"><a href="" ng-click="setPredicate('artist')">Artist</a></th>
                <th class="col-sm-2"><a href="" ng-click="setPredicate('genre')">Genre</a></th>
                <th class="col-sm-2" style="padding-right:5%;"><a href="" ng-click="setPredicate('pub')"> </a></th>
            </tr>
        </thead>
        <tbody>
            <tr  style="cursor:pointer;" data-ng-repeat="song in usersongs | orderBy:predicate:reverse | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td><i style="margin-left: 20px; color:#f1c40f" class="fa fa-star"></i> {{song.upvote}}</td>
                <!--<td style="max-width: 5px;"><a href="/addsongtofolder/{{song._id}}" style="color:black" ><i style="margin-left: 10px;" class="fa fa-plus"></i></a></td>-->
                <td><a href="/viewsong/{{song._id}}">{{ song.title }}</a></td>
                <td><a href="/artist/{{song.artist}}">{{ song.artist }}</a></td>
                <td>{{ song.genre }}</td>
                <td ng-show="song.pub"><i class="fa fa-globe"></i></td> <!-- Probably have different images here -->
                <td ng-show="!song.pub"><i class="fa fa-lock"></i></td>
            </tr>
        </tbody>
        
    </table>
    <!-- <div style="text-align:center">
        <button class="btn"ng-disabled="currentPage == 0" ng-click="currentPage = currentPage-1" style="background-color: #E6E6E6;text-decoration: none;padding: 0 14px;line-height: 40px;position: relative;color: #666;font-size: 14px;text-shadow: 0px 0px 1px #666;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">◀</button>

        Page {{currentPage+1}} of {{numberOfPages()}}

        <button class="btn" ng-disabled="currentPage >= usersongs.length/pageSize - 1"  ng-click="currentPage = currentPage+1" style="background-color: #E6E6E6;text-decoration: none;padding: 0 14px;line-height: 40px;position: relative;color: #666;font-size: 14px;text-shadow: 0px 0px 1px #666;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">▶</button>  
    </div>   --> 
</aside>