<li ng-show='transposeMode && !reverseParseMode' style="margin-left:5px; margin-right:15px; display:inline-block;">
    <span class="select">STEPS</span>
    <select id="thickness" class="input-mini" ng-model="steps" style="background:#383A3C;">
        <option ng-value="+6">+6</option>
        <option ng-value="+5">+5</option>
        <option ng-value="+4">+4</option>
        <option ng-value="+3">+3</option>
        <option ng-value="+2">+2</option>
        <option ng-value="+1">+1</option>
        <option ng-value="0">0</option>
        <option ng+value="-1">-1</option>
        <option ng+value="-2">-2</option>
        <option ng+value="-3">-3</option>
        <option ng+value="-4">-4</option>
        <option ng+value="-5">-5</option>
        <option ng+value="-6">-6</option>
    </select>
</li>
<li ng-show='transposeMode && !reverseParseMode' style="margin-right:10px; display:inline-block;">
    <span class="select">PREFERENCE</span>
    <select id="thickness" ng-model="preference" class="input-mini" style="background:#383A3C;">
        <option ng-value="♯">&#9839;</option>
        <option ng-value="♭">&#9837;</option>
    </select>
</li>
<li style="display:inline-block; margin-left:15px; margin-right:10px;" ng-show='!transposeMode && !reverseParseMode'>
    <button ng-click='enterTranspose()' class="btn-switch">Transpose</button> 
</li>
<li style="display:inline-block; margin-right:10px;" ng-show='transposeMode && !reverseParseMode'>
    <button  ng-click='transpose()' class="btn-switch">Submit</button> 
</li>
<li style="display:inline-block;" ng-show='transposeMode && !reverseParseMode'>
    <button  ng-click='leaveTranspose()' class="btn-switch">Cancel</button> 
</li>