<!-- Make sure this has id = data -->

<li style="display:inline-block; margin-left:5px; margin-right:15px;">
    <span class="select">FONT</span>
    <select id="thickness" class="input-mini" ng-model="font" ng-change="parsehtml()" style="background:#383A3C;">
        <option ng-value="Arial">Arial</option>
		<option ng-value="Audiowide">Audiowide</option>
		<option ng-value="Courier">Courier</option>
		<option ng-value="Droid Sans">Droid Sans</option>
		<option ng-value="Droid Sans Mono">Droid Sans Mono</option>
		<option ng-value="Droid Serif">Droid Serif</option>
		<option ng-value="Georgia">Georgia</option>
		<option ng-value="Helvetica">Helvetica</option>
		<option ng-value="Inconsolata">Inconsolata</option>
		<option ng-value="Merriweather">Merriweather</option>
		<option ng-value="Open Sans">Open Sans</option>
		<option ng-value="Oxygen">Oxygen</option>
		<option ng-value="Oxygen Mono">Oxygen Mono</option>
		<option ng-value="Playfair Display">Playfair Display</option>
		<option ng-value="PT Mono">PT Mono</option>
		<option ng-value="PT Sans">PT Sans</option>
		<option ng-value="PT Serif">PT Serif</option>
		<option ng-value="Raleway">Raleway</option>
		<option ng-value="Rokkitt">Rokkitt</option>
		<option ng-value="Special Elite">Special Elite</option>
		<option ng-value="Times New Roman">Times New Roman</option>
		<option ng-value="Ubuntu">Ubuntu</option>
		<option ng-value="Ubuntu Mono">Ubuntu Mono</option>
		<option ng-value="Verdana">Verdana</option>
    </select>
</li>
<li style= "display:inline-block;">
    <span class="select">SIZE</span>
    <select id="thickness" ng-model="fontsize" class="input-mini" ng-change="parsehtml()" style="background:#383A3C;">
        <option ng-value="8">8</option>
        <option ng-value="10">10</option>
        <option ng-value="12">12</option>
        <option ng-value="14">14</option>
        <option ng-value="16">16</option>
        <option ng-value="18">18</option>
        <option ng-value="20">20</option>
    </select>
</li>                                 
