<aside class="right-side" style="background:#fff;">
	<!-- <div id="chord_sheet">temp</div> -->
	<div id="chord_sheet" class="chordSheet" ng-bind-html="parsedResult()" style="padding-left:15px; padding-top:15px; font-family:Helvetica, sans-serif; ">
	</div>
</aside>