<aside class="right-side">
    <section class="content-header">
        <h1>
            {{foldername}}
            <small>{{ folder.foldersongs.length }} songs</small>
        </h1><br>
        <p>Display <select ng-model="pageSizeFolder" ng-options="pageSizeFolder for pageSizeFolder in pageSizesFolder"></select> songs per page</p>
    </section>
    <div ng-show="!addSongMode">
    <table class="table" name="global">

        <thead>
            <tr>
                <th class="col-sm-2"><i style="margin-left: 20px;" class="fa fa-star" style="color:yellow;"></th>
                <th class="col-sm-6">Song</th>
                <th class="col-sm-2">Artist</th>
                <th class="col-sm-2">Genre</th>
                <th class="col-sm-2" style="padding-right:5%; text-align:center;"> </th>
                <th class="col-sm-2" ng-show="editFolderMode">Delete?</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="song in folder.foldersongs | startFrom:currentPageFolder*pageSizeFolder | limitTo:pageSizeFolder">
                <td><i style="margin-left: 20px;" class="fa fa-star" style="color:yellow;"></i> {{song.upvote}}</td>
                <td><a href="/viewsong/{{song._id}}">{{ song.title }}</a></td>
                <td><a href="/artist/{{song.artist}}">{{ song.artist }}</a></td>
                <!-- <td><i class="fa fa-chevron-up"></i></td>
                <td><i class="fa fa-chevron-down"></i></td> -->
                <td>{{ song.genre }}</td>
                <td ng-show="song.pub"><i class="fa fa-globe"></i></td> <!-- Probably have different images here -->
                <td ng-show="!song.pub"><i class="fa fa-lock"></i></td>
                <td ng-show="editFolderMode" style="text-align:center;"><a href="" ng-click="deletesong(song._id)"><i class="fa fa-times"></i></a></td>
            </tr>
        </tbody>
        
    </table>
    <div style="text-align:center">
        <button ng-disabled="currentPageFolder == 0" ng-click="currentPageFolder = currentPageFolder-1">
            <
        </button>
            Page {{currentPageFolder+1}} of {{numberOfPagesFolder()}}
        <button ng-disabled="currentPageFolder >= foldersongs.length/pageSizeFolder - 1"  ng-click="currentPageFolder = currentPageFolder+1">
            >
        </button>
    </div>
    </div>

    <!-- add song -->
    <div ng-show="addSongMode">
       <input type="text" ng-show="addSongMode" name="query" ng-class="{ 'has-error' : addSongForm.query.$invalid && !addSongForm.query.$pristine }" ng-model="query" ng-minlength="1" ng-maxlength="100" ng-pattern="/^[A-Za-z0-9 \$\?\!\&\-\_\']*$/" required class="form-control" placeholder="Filter Songs" />
       <!-- it would look bad to have messages here -->
        
        <p>Display <select ng-model="pageSizeAddSongs" ng-options="pageSizeAddSongs for pageSizeAddSongs in pageSizesAddSongs"></select> songs per page </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-sm-2"><a href="" ng-click="setPredicate('upvote')"><i style="margin-left: 20px;" class="fa fa-star" style="color:yellow;"></a></th>
                    <!-- <th style="max-width: 5px;"></th> -->
                    <th class="col-sm-6"><a href="" ng-click="setPredicate('title')">Song</a></th>
                    <th class="col-sm-2"><a href="" ng-click="setPredicate('artist')">Artist</a></th>
                    <th class="col-sm-2"><a href="" ng-click="setPredicate('genre')">Genre</a></th>
                    <th class="col-sm-2"><a href="" ng-click="setPredicate('pub')">Song Type</a></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="song in usersongs | filter:query | orderBy:predicate:reverse | startFrom:currentPageAddSongs*pageSizeAddSongs | limitTo:pageSizeAddSongs" ng-click="addToFolder(song._id)">
                    <td><i style="margin-left: 20px; color:#f1c40f" class="fa fa-star"></i> {{song.upvote}}</td>
                    <!--<td style="max-width: 5px;"><a href="/addsongtofolder/{{song._id}}" style="color:black" ><i style="margin-left: 10px;" class="fa fa-plus"></i></a></td>-->
                    <td>{{ song.title }}</a></td>
                    <td>{{ song.artist }}</a></td>
                    <td>{{ song.genre }}</td>
                    <td ng-show="song.pub"><i class="fa fa-globe"></i></td> <!-- Probably have different images here -->
                    <td ng-show="!song.pub"><i class="fa fa-lock"></i></td>
                </tr>
            </tbody>
        </table>
        <div style="text-align:center">

            <button ng-disabled="currentPageAddSongs == 0" ng-click="currentPageAddSongs = currentPageAddSongs-1">
                <
            </button>
                Page {{currentPageAddSongs+1}} of {{numberOfPagesAddSongs()}}
            <button ng-disabled="currentPageAddSongs >= usersongs.length/pageSizeAddSongs - 1"  ng-click="currentPageAddSongs = currentPageAddSongs+1">
                >
            </button>

              
        </div>
    </div>
   
</aside>