<!DOCTYPE html>
<!--<html lang='en' ng-app='enchord'>-->
<html lang='en'>
  <head>
    <% include head.ejs %>
  </head>
  <body>
  	<h1>Members page</h1>
  	<a href="/logout" class="btn btn-default btn-sm">Logout</a>
  </body>
 </html>