<!DOCTYPE html>
<html lang='en' ng-app='enchord'>
  <head>
    <% include head.ejs %>
    <!-- Angular js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-sanitize.min.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script> -->
    <!-- Custom Angular js -->
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/animations.js"></script>
    <script src="/javascripts/controllers.js"></script>
    <script src="/javascripts/filters.js"></script>
    <script src="/javascripts/services.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
    <link href="/css/login.css" rel="stylesheet">
    
  </head>
  <body ng-controller="ResetPasswordController">
        <div id='wrapper'>
            <div id='content'>
                <form class="new_user" action="/reset/<%= tokens%>" method="POST" name="resetForm" novalidate>
                    <h1>Don't forget it this time!</h1>
                    <!-- PASSWORD -->
            		<div class="form-group" ng-class="{ 'has-error' : resetForm.password.$invalid && !resetForm.password.$pristine }">
                        <label class="control-label" for="password"> New Password</label>
                        <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="8" ng-maxlength="20" placeholder="Password" ng-change="checkPass()" ng-pattern="/^[A-Za-z0-9\!\@\#\$\%\^\&\*\(\)\{\}\[\]\.\,\;\:\?\-\_\+\=\<\>\~\`]*$/" required>
                        <p ng-show="resetForm.password.$error.required && !resetForm.password.$pristine" class="help-block" style="margin-top:0px; color:red;">Enter your password</p>
                        <p ng-show="resetForm.password.$error.minlength" class="help-block" style="margin-top:0px; color:red;">Password is too short</p>
                        <p ng-show="resetForm.password.$error.maxlength" class="help-block" style="margin-top:0px; color:red;">Password is too long</p>
                        <p ng-show="resetForm.password.$error.pattern" class="help-block" style="margin-top:0px; color:red;">Invalid characters. Please use only alphanumeric characters or !@#$%^&*(){}[].,;:?-_+=<>~`</p>
                    </div>

                    <!-- PASSWORD CONFIRMATION -->
                    <div class="form-group" ng-class="{ 'has-error' : (resetForm.password_repeat.$invalid || (!passMatch && !resetForm.password.$invalid)) && !resetForm.password_repeat.$pristine}">
                        <label class="control-label" for="password_repeat">Confirm Password</label>
                        <input type="password" name="password_repeat" class="form-control" ng-model="user.password_repeat" ng-minlength="8" ng-maxlength="20" placeholder="Confirm Password" ng-change="checkPass()" ng-pattern="/^[A-Za-z0-9\!\@\#\$\%\^\&\*\(\)\{\}\[\]\.\,\;\:\?\-\_\+\=\<\>\~\`]*$/" required>
                        <p ng-show="resetForm.password_repeat.$error.required && !resetForm.password_repeat.$pristine" class="help-block" style="margin-top:0px; color:red;">Enter your password again</p>
                        <p ng-show="resetForm.password_repeat.$error.minlength" class="help-block" style="margin-top:0px; color:red;">Password is too short</p>
                        <p ng-show="resetForm.password_repeat.$error.maxlength" class="help-block" style="margin-top:0px; color:red;">Password is too long</p>
                        <p ng-show="!passMatch && !resetForm.password_repeat.$invalid && !resetForm.password.$invalid" class="help-block" style="margin-top:0px; color:red;">Passwords do not match</p>
                        <p ng-show="resetForm.password_repeat.$error.pattern" class="help-block" style="margin-top:0px; color:red;">Invalid characters. Please use only alphanumeric characters or !@#$%^&*(){}[].,;:?-_+=<>~`</p>
                    </div>
                    <input ng-disabled="resetForm.$invalid || !passMatch" name="commit" type="submit" value="Update password" onclick="submitOnClick('resetForm')" ng-disabled="resetForm.$invalid"/>
    	       </form>
            </div>
        </div>
        <% include scripts.ejs %>
            <script type="text/javascript">
            function submitOnClick(formName){
                document.forms[formName].submit();
            }
        </script>
  </body>
</html>