<div ng-controller="SearchController">
	<form role="form">
		<div class="form-group" id="query_group">
			<input ng-model="query" type="text" class="form-control" id="query" name="query" placeholder="Search">
			<button ng-click="search(query)" class="btn btn-default">Search</button>
		</div>
	</form>
</div>