<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        <% include sidepartial_userinfo.ejs %>
        <ul class="sidebar-menu">
            <li class="active">
                <a href="/members">
                    <i class="fa fa-backward"></i> <span>Back to My Library</span>
                </a>
            </li>
            <h5 style="color:#fff; margin-left: 5%; margin-top:15%;">Folder Info<span ng-click="showEditFoldername()" style="padding-left: 55%;"><i style="color:#fff; cursor:pointer;" class="fa fa-pencil"></i></span></h5>
            <li><a href="#" ng-click="showEditFoldername()">Name: {{ foldername }}</a></li>
            <li><a href="#">Author: <%= username %></a></li>
            <form class="sidebar-form" name="folderForm" novalidate style="color:#fff;">

                    <button class="button" ng-show="!addSongMode && editFolderMode" ng-click="enterAddSongMode()" style="background-color: rgb(77, 144, 254) !important; background-image: -webkit-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237)) !important;border-color: rgb(48, 121, 237) !important;" ><i class="fa fa-plus"></i> Add Songs</button>

                    <button class="button" ng-show="addSongMode && editFolderMode" ng-click="leaveAddSongMode()" style="background:-webkit-linear-gradient(bottom,#4d4d4d, #2f2f2f);background:-moz-linear-gradient(bottom,#4d4d4d, #2f2f2f); border:1px solid #222;" >Back</button>

                    <button class="button" ng-show="!addSongMode && !editFolderMode" ng-click="enterEditMode()" style="background-color: rgb(77, 144, 254) !important; background-image: -webkit-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237)) !important;border-color: rgb(48, 121, 237) !important;" >Edit Folder</button>

                    <button class="button" ng-show="!addSongMode && editFolderMode" ng-click="leaveEditMode()" style="background:-webkit-linear-gradient(bottom,#4d4d4d, #2f2f2f);background:-moz-linear-gradient(bottom,#4d4d4d, #2f2f2f); border:1px solid #222;" >Back</button>

                    <!-- <button ng-disabled="folderForm.$invalid" class="button" type="submit" ng-show="!addSongMode && !editFolderMode" ng-click="renamefolder()" class="btn btn-default" style="background:-webkit-linear-gradient(bottom,#4d4d4d, #2f2f2f);background:-moz-linear-gradient(bottom,#4d4d4d, #2f2f2f); border:1px solid #222;">Rename Folder</button> -->
                    <!-- should i show dummy button if invalid characters? -->

                    <button class="button" type="submit" ng-show="!addSongMode && !editFolderMode" ng-click="deletefolder()" class="btn btn-default" style="background-color: #d14836;background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);background-image: -moz-linear-gradient(top,#dd4b39,#d14836);background-image: -ms-linear-gradient(top,#dd4b39,#d14836);background-image: -o-linear-gradient(top,#dd4b39,#d14836);background-image: linear-gradient(top,#dd4b39,#d14836); border:none solid #222;"><i class="fa fa-times"></i> Delete Folder</button>
            </form>
            
            <div class="modal fade message-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-body">
                    {{message}}
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="folder_rename" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Rename Folder</h4>
                  </div>
                  <div class="modal-body">
                    <form class="sidebar-form" name="folderForm">
                        <div class="input-group" ng-class="{ 'has-error' : folderForm.name.$invalid && !folderForm.password.$pristine">
                            <input type="text" name="name" class="form-control" placeholder="Enter new folder name" ng-model="folder.name" type="text" class="form-control" ng-pattern="/^[A-Za-z0-9 \$\!\-\_]*$/" style="padding-top:0px;" required/>
                            <p ng-show="folderForm.name.$error.required && !folderForm.name.$pristine" class="help-block" style="margin-top:0px; color:red;">Foldername cannot be empty</p>
                            <p ng-show="folderForm.name.$error.pattern" class="help-block" style="margin-top:0px; color:red;">Invalid characters. Please use only alphanumeric characters or ! $ - _</p>
                            <!-- it would look bad to have messages here -->
                        </div>
                        </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-disabled="folderForm.$invalid" ng-click="renamefolder()" class="btn btn-primary">Rename Folder</button>
                  </div>
                </div>
              </div>
            </div>
            
        </ul>
    </section>
</aside> 