 <aside class="left-side sidebar-offcanvas"  style="position:fixed;">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/images/default.png" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info" style="padding-top: 8%;">
                <% if(isLoggedIn) { %><p>Hello, <%= username %></p><% } else { %><p>Hello, Guest</p><% } %>
            </div>
        </div>

        <ul class="sidebar-menu">
            <li class="active">
                <a ng-show="isAdvSearch" ng-click="toggleBasicSearch()">
                    <i class="fa fa-headphones"></i> <span>Switch to Basic Search</span>
                </a>
            </li> 
            <li>
                <a ng-show="!isAdvSearch" ng-click="toggleAdvSearch()">
                    <i class="fa fa-search"></i> <span>Switch to Adv. Search</span>
                </a>
            </li>                     
        </ul>

        <form ng-show="!isAdvSearch" class="sidebar-form" name="searchForm">
            <div class="input-group">
                <input type="text" name="query" class="form-control" placeholder="Search..." ng-model="query" type="text" class="form-control" id="query" ng-pattern="/^[A-Za-z0-9 \$\!\-\_\' ]*$/" name="query"/>
                <input type="hidden" name="type" value="Both">
                <span class="input-group-btn">
                    <button ng-click="search()" type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>

        <form action="/advsearchresults" type="GET" ng-show="isAdvSearch" class="sidebar-form" name="searchForm">

                <input type="text" name="title" class="form-control" placeholder="Title"  type="text" class="form-control" id="query" ng-pattern="/^[A-Za-z0-9 \$\!\-\_\' ]*$/" name="query"/ style="margin-bottom:15px;">

                <input type="text" name="artist" class="form-control" placeholder="Artist"  type="text" class="form-control" id="query" ng-pattern="/^[A-Za-z0-9 \$\!\-\_\' ]*$/" name="query" style="margin-bottom:15px;"/>


                <input type="text" name="genre" class="form-control" placeholder="Genre"  type="text" class="form-control" id="query" ng-pattern="/^[A-Za-z0-9 \$\!\-\_\' ]*$/" name="query" style="margin-bottom:15px;"/>
 

                <input type="text" name="author" class="form-control" placeholder="Username" type="text" class="form-control" id="query" ng-pattern="/^[A-Za-z0-9 \$\!\-\_\' ]*$/" name="query" style="margin-bottom:20px;"/>

            <button class="button" style="background:-webkit-linear-gradient(bottom,#4d4d4d, #2f2f2f);background:-moz-linear-gradient(bottom,#4d4d4d, #2f2f2f); border:1px solid #222;"><i class="fa fa-search"></i> &nbsp;Advanced Search</button>
        </form>

    </section>
</aside> 