<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        <% include sidepartial_userinfo.ejs %>
        <!-- Search controller -->
        <!-- <form class="sidebar-form" type="GET" action="/search" name="searchForm"> -->
        <%= include sidepartial_searchbar.ejs %>
        <ul class="sidebar-menu">
            <li style="border-top:0px;">
                <a href="/members/createsong">
                    <i class="fa fa-plus"></i> <span>Create a Song</span>
                </a>
            </li>

            <li class="treeview">
            <!-- Button trigger modal -->
            <!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#folder_create">
              Create new Folder
            </button> -->
            <a href="" data-toggle="modal" data-target="#folder_create">
              <i class="fa fa-plus"></i> <span>Create a Folder</span>
            </a>

            <!-- Modal -->
            <div class="modal fade" id="folder_create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="FolderController">
              <div class="modal-dialog" >
                <div class="modal-content" style="width:100%;">
                  <div class="modal-header" style="padding: 10px 15px 8px;text-align: center;box-shadow: none !important;background: #f5f5f5;border: none;border-radius: 3px 3px 0 0;border-bottom: 0px solid #eee;">
                    <h4 class="modal-title" style="text-align:center;"id="myModalLabel">Create a New Folder</h4>
                  </div>
                  <div class="modal-body" style="padding-bottom:0px; width:100%;">
                    <form class="sidebar-form" name="folderForm">
                      <input type="text" name="name" class="form-control" placeholder="Enter new folder name" ng-model="folder.name" type="text" class="form-control" ng-pattern="/^[A-Za-z0-9 \$\!\-\_()]*$/" style="display: block;float: none;width: 560px;margin: 0 5%;font-size: 18px;padding: 10px 0px; margin-bottom:0px;box-shadow: none;border: none;overflow: hidden;width: 90%;font-weight: 400;font-smoothing: antialiased !important;-webkit-font-smoothing: antialiased; background-color:#fff; width:90%;" required/>
                      <p ng-show="folderForm.name.$error.required && !folderForm.name.$pristine" class="help-block" style="margin-top:0px; color:red;">Foldername cannot be empty</p>
                      <p ng-show="folderForm.name.$error.pattern" class="help-block" style="margin-top:0px; color:red;">Invalid characters. Please use only alphanumeric characters or ! $ - _ ( )</p>
                    </form>
                  </div>
                  <div class="modal-footer" style="padding: 10px 15px;text-align: right; padding: 10px 15px 8px;text-align: center;box-shadow: none !important;background: #f5f5f5;border: none;border-radius: 3px 3px 0 0;padding: 14px 15px 15px;margin-bottom: 0;text-align: right;background-color: #f5f5f5;border-top: 0px solid #ddd;-webkit-border-radius: 0 0 6px 6px;-moz-border-radius: 0 0 6px 6px;border-radius: 0 0 6px 6px;-webkit-box-shadow: inset 0 1px 0 #ffffff;-moz-box-shadow: inset 0 1px 0 #ffffff;box-shadow: inset 0 1px 0 #ffffff;">
                    <button ng-disabled="folderForm.$invalid" type="button" ng-click="createfolder()" class="btn btn-primary" style="border: none !important;box-shadow: none !important;padding: 10px 20px;border-radius: 3px;font-size: 14px !important;text-transform: none;color:#fff;-webkit-align-items: flex-start !important;-webkit-appearance: none !important;-webkit-user-select: none !important;-webkit-writing-mode: horizontal-tb !important;background-color: rgb(77, 144, 254) !important;background-image: -webkit-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237)) !important;background-image: -moz-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237)) !important;background-image: -ms-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237)) !important;background-image: -o-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237)) !important;background-image: linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237)) !important;-webkit-transition: none !important;border-color: rgb(48, 121, 237) !important;border-style: solid !important;border-width: 0px !important;margin: 0px 0 !important !important;text-transform: none !important;-webkit-transition: width .1s !important;">Create Folder</button>

                    <button type="button" class="btn btn-default" data-dismiss="modal" style="border: none !important;box-shadow: none !important;padding: 10px 20px;border-radius: 3px;font-size: 14px !important;text-transform: none;color:#fff;-webkit-align-items: flex-start !important;-webkit-appearance: none !important;-webkit-user-select: none !important;-webkit-writing-mode: horizontal-tb !important;background-color: #d14836;background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);background-image: -moz-linear-gradient(top,#dd4b39,#d14836);background-image: -ms-linear-gradient(top,#dd4b39,#d14836);background-image: -o-linear-gradient(top,#dd4b39,#d14836);background-image: linear-gradient(top,#dd4b39,#d14836);border-style: solid !important;border-width: 0px !important;margin: 0px 0 !important !important;text-transform: none !important;-webkit-transition: width .1s !important;">Cancel</button>
                    
                  </div>
                </div>
              </div>
            </div>
              
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>My Folders</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                <% for (var i = 0; i < userfolders.length; i++) { %>
                    <li><a href="/members/editfolder/<%= userfolders[i]._id %>"><i class="fa fa-angle-double-right"></i><%= userfolders[i].name %></a></li>
                <% } %>
                </ul>
            </li>
            
        </ul>
    </section>
</aside>
