<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        <% include sidepartial_userinfo.ejs %>
        <ul class="sidebar-menu">
            <!-- <li class="active">
                <a href="">
                    <i class="fa fa-backward"></i> <span>Back</span>
                </a>
            </li> -->
            <%= include sidepartial_searchbar.ejs %>
            <h5 style="color:#fff; margin-left: 5%; margin-top:15%;">Artist Info</h5>

        </ul>
    </section>
</aside>