<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        <% include sidepartial_userinfo.ejs %>
        <ul class="sidebar-menu">
            <!-- <li class="active">
                <a href="">
                    <i class="fa fa-backward"></i> <span>Back</span>
                </a>
            </li> -->
            <%= include sidepartial_searchbar.ejs %>
            <h5 style="color:#fff; margin-left: 5%; margin-top:15%;">Artist Info</h5>
            <li style="color:#eee;padding: 12px 5px 12px 15px; display:block; border-top:0px;">Name: <%artistname%></li>

        </ul>
    </section>
</aside>