<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        <% include sidepartial_userinfo.ejs %>
        <!-- Search controller -->
        <!-- <form class="sidebar-form" type="GET" action="/search" name="searchForm"> -->
        <%= include sidepartial_searchbar.ejs %>
    </section>
</aside>
