 <aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        <% include sidepartial_userinfo.ejs %>
        <ul class="sidebar-menu">
            <% if(isLoggedIn) { %><li class="active">
                <a href="/members">
                    <i class="fa fa-backward"></i> <span>Back to My Library</span>
                </a>
            </li>
            <!-- <li>
                <a href="/members/createsong">
                    <i class="fa fa-plus"></i> <span>Create a New Song</span>
                </a>
            </li> --><% } %>
            <li >
                <a href="" ng-show="isAdvSearch" ng-click="toggleBasicSearch()">
                    <i class="fa fa-headphones"></i>Switch to Basic Search
                </a>
            </li> 
            <li style="border-top:0px;">
                <a href="" ng-show="!isAdvSearch" ng-click="toggleAdvSearch()">
                    <i class="fa fa-search"></i>Switch to Adv. Search
                </a>
            </li>                     
        </ul>

        <form ng-show="!isAdvSearch" class="sidebar-form" name="searchForm">
            <div class="input-group">
                <input type="text" name="query" class="form-control" placeholder="Search..." ng-model="query" type="text" class="form-control" id="query" name="query" style="border-top-left-radius:21px !important; border-bottom-left-radius:21px !important; color:#eee;"/>
                <input type="hidden" name="type" value="Both">
                <span class="input-group-btn">
                    <button ng-click="search()" type='submit' name='search' id='search-btn' class="btn btn-flat" style="border-top-right-radius:21px !important; border-bottom-right-radius:21px !important;"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>

        <form action="/advsearchresults" type="GET" ng-show="isAdvSearch" class="sidebar-form" name="searchForm">

            <input type="text" ng-model="title" name="title" class="form-control" placeholder="Title"  type="text" class="form-control" id="query" name="query"/ style="margin-bottom:15px; border-radius:21px !important; color:#eee;">

            <input type="text" ng-model="artist" name="artist" class="form-control" placeholder="Artist"  type="text" class="form-control" id="query" name="query" style="margin-bottom:15px; border-radius:21px !important; color:#eee;"/>


            <input type="text" ng-model="genre" name="genre" class="form-control" placeholder="Genre"  type="text" class="form-control" id="query" name="query" style="margin-bottom:15px; border-radius:21px !important; color:#eee;"/>


            <input type="text" ng-model="author" name="author" class="form-control" placeholder="Username" type="text" class="form-control" id="query" name="query" style="margin-bottom:20px; border-radius:21px !important; color:#eee;"/>

            <button class="button" style="background:-webkit-linear-gradient(bottom,#4d4d4d, #2f2f2f);background:-moz-linear-gradient(bottom,#4d4d4d, #2f2f2f); border:1px solid #222;"><i class="fa fa-search"></i> &nbsp;Advanced Search</button>
        </form>
    </section>
</aside> 