<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        <% include sidepartial_userinfo.ejs %>
        <ul class="sidebar-menu">
            <% include sidepartial_searchbar.ejs %>
            <li class="active">
                <a href="/members" ng-show="isNew">
                    <i class="fa fa-backward"></i> <span>Back to My Library</span>
                </a> 
                <a ng-click="editsong(true)" href="#" ng-show="!isNew">
                    <i class="fa fa-backward"></i> <span>Save and View Song</span>
                </a> 
            </li>
            <h5 style="color:#fff; margin-left: 5%; margin-top:15%;"> Song Info</h5>
            <!-- <h3 ng-show"isNew" style="color:white">New Song</h3> -->

            <!-- <form action="POST" class="sidebar-form" name="songEditForm" novalidate> -->
            <form class="sidebar-form" name="songEditForm" novalidate style="color:#fff;">
                    <input type="text" name="title" class="form-control" ng-class="{ 'has-error' : songEditForm.title.$invalid && !songEditForm.title.$pristine }" ng-model="song.title" ng-minlength="1" ng-maxlength="100" placeholder="Title*" ng-pattern="/^[A-Za-z0-9 \$\?\!\&\-\_\'().,]*$/" required class="form-control" placeholder="Title" style="color:#eee;" /><br>

                    <input type="text" name="artist" class="form-control" placeholder="Artist*" ng-class="{ 'has-error' : songEditForm.artist.$invalid && !songEditForm.artist.$pristine }" ng-model="song.artist" ng-minlength="1" ng-maxlength="100" placeholder="Artist" ng-pattern="/^[A-Za-z0-9 \$\?\!\&\-\_\'().,]*$/" style="color:#eee;" required /><br>

                    <input type="text" name="genre" class="form-control" placeholder="Genre" ng-model="song.genre" ng-maxlength="100" ng-pattern="/^[A-Za-z0-9 \$\?\!\&\-\_\'().,\/]*$/" ng-class="{ 'has-error' : songEditForm.genre.$invalid && !songEditForm.genre.$pristine }" style="color:#eee;"/>

                    <!-- <h5 style="color:#fff; margin-left: 5%; margin-top:15%;">Transpose</h5>
                    <ul class="nav" style="display:inline-block; padding-top:10px; padding-bottom:30px; width:100%;">
                                <li style="margin-left:5px; margin-right:15px; display:inline-block; padding-bottom:5px;">
                                    <span class="select">STEPS</span>
                                    <select id="thickness" class="input-mini" style="background:#383A3C;">
                                        <option value="0">0</option>
                                        <option value="+1">+1</option>
                                        <option value="+2">+2</option>
                                        <option value="+3">+3</option>
                                        <option value="+4">+4</option>
                                        <option value="+5">+5</option>
                                        <option value="+6">+6</option>
                                        <option value="+7">+7</option>
                                        <option value="+8">+8</option>
                                        <option value="+9">+9</option>
                                        <option value="+10">+10</option>
                                        <option value="+11">+11</option>
                                        <option value="-1">-1</option>
                                        <option value="-2">-2</option>
                                        <option value="-3">-3</option>
                                        <option value="-4">-4</option>
                                        <option value="-5">-5</option>
                                        <option value="-6">-6</option>
                                        <option value="-7">-7</option>
                                        <option value="-8">-8</option>
                                        <option value="-9">-9</option>
                                        <option value="-10">-10</option>
                                        <option value="-11">-11</option>

                                    </select>
                                </li>
                                <li style="margin-left:5px;margin-right:15px; display:inline-block;">
                                    <span class="select">PREFERENCE</span>&nbsp;&nbsp;
                                    <select id="thickness" class="input-mini" style="background:#383A3C;">
                                        <option value="s">&#9839;</option>
                                        <option value="f">&#9837;</option>

                                    </select>
                                </li>                                 
                    </ul> --><br>


                    <input style="margin-left:10px;" type="radio" name="scope" ng-model="song.pub" ng-value=true>&nbsp;&nbsp;&nbsp;Public<br>
                    <input style="margin-left:10px; margin-bottom: 30px;" type="radio" name="scope" ng-model="song.pub" ng-value=false >&nbsp;&nbsp;&nbsp;Private

                    <button type="button" class="btn btn-default nohov help-popover" data-container="body" data-toggle="popover" data-placement="right" data-content="Public songs can be searched and viewed by anybody. Private songs, however, can only be viewed by you. Regardless, only you can edit your songs." data-original-title="Public v. Private" style="background:transparent;padding-bottom:4%;">
                      <i class="fa fa-question"></i>
                    </button>
                    

                    <!-- <button ng-show='reverseParseMode' ng-click='reverseParse()' class="button" style="background:-webkit-linear-gradient(bottom,#4d4d4d, #2f2f2f);background:-moz-linear-gradient(bottom,#4d4d4d, #2f2f2f); border:1px solid #222;" ><i class="fa fa-undo"></i> Reverse Parse</button> -->

                    <button ng-show='reverseParseMode' ng-click='leaveReverseParseMode()' class="button" style="background:-webkit-linear-gradient(bottom,#4d4d4d, #2f2f2f);background:-moz-linear-gradient(bottom,#4d4d4d, #2f2f2f); border:1px solid #222;" >Cancel</button>

                    <!-- when invalid -->
                    <button ng-click="errorinfields()" class="button" ng-show="isNew && !reverseParseMode && songEditForm.$invalid" style="background-color: rgb(77, 144, 254) !important; background-image: -webkit-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237)) !important;border-color: rgb(48, 121, 237) !important;" >Create Song</button>
                    <!-- when valid -->
                    <button ng-click="createsong()" ng-disabled="songEditForm.$invalid || songEditForm.$pristine" class="button" ng-show="isNew && !reverseParseMode && !songEditForm.$invalid" style="background-color: rgb(77, 144, 254) !important; background-image: -webkit-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237)) !important;border-color: rgb(48, 121, 237) !important;" >Create Song</button>

                    <button ng-click="errorinfields()" class="button" ng-show="!isNew && !reverseParseMode && songEditForm.$invalid" style="background-color: rgb(77, 144, 254) !important; background-image: -webkit-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237)) !important;border-color: rgb(48, 121, 237) !important;" >Save</button>
                    
                    <button ng-click="editsong(false)" ng-disabled="songEditForm.$invalid" class="button" ng-show="!isNew && !reverseParseMode && !isSongSaved && !songEditForm.$invalid" style="background-color: rgb(77, 144, 254) !important; background-image: -webkit-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237)) !important;border-color: rgb(48, 121, 237) !important;" >Save</button>

                    <button class="button" ng-show="!isNew && !reverseParseMode && isSongSaved" style="background-color: #2ecc71" ><i class="fa fa-check"></i> Successfully Saved</button>

                    
                    <!--<button ng-show='!reverseParseMode' ng-click='enterReverseParseMode()' class="button" style="background:-webkit-linear-gradient(bottom,#4d4d4d, #2f2f2f);background:-moz-linear-gradient(bottom,#4d4d4d, #2f2f2f); border:1px solid #222;" ><i class="fa fa-upload"></i> Upload a Song</button> -->

                    <!-- <button  ng-disabled="songEditForm.$invalid" class="button" ng-show="!isNew && !reverseParseMode" style="background:-webkit-linear-gradient(bottom,#4d4d4d, #2f2f2f);background:-moz-linear-gradient(bottom,#4d4d4d, #2f2f2f); border:1px solid #222;"><i class="fa fa-check"></i> Done Editing</button> -->

                    <button class="button" ng-show="!isNew && !reverseParseMode" ng-click="deletesong()" type="submit" class="btn btn-default" style="background-color: #d14836;background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);background-image: -moz-linear-gradient(top,#dd4b39,#d14836);background-image: -ms-linear-gradient(top,#dd4b39,#d14836);background-image: -o-linear-gradient(top,#dd4b39,#d14836);background-image: linear-gradient(top,#dd4b39,#d14836); border:none solid #222;"><i class="fa fa-times"></i> Delete Song</button>
            </form>

            <!-- <div class="modal fade message-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-body">
                    {{message}}
                  </div>
                </div>
              </div>
            </div> -->
        </ul>
        <div class="modal fade message-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-body" ng-bind-html="errorSetHTML()">

              </div>
            </div>
          </div>
        </div>



    </section>
</aside> 
