 <aside class="left-side sidebar-offcanvas"  style="position:fixed;">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/images/default.png" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info" style="padding-top: 8%;">
                <% if(isLoggedIn) { %><p>Hello, <%= username %></p><% } else { %><p>Hello, Guest</p><% } %>
            </div>
        </div>

        <!-- Search controller -->
        <form class="sidebar-form" name="searchForm">
            <div class="input-group" ng-controller="SearchController">
                <input type="text" name="query" class="form-control" placeholder="Search..." ng-model="query" type="text" class="form-control" id="query" ng-pattern="/^[A-Za-z0-9 \$\!\-\_\' ]*$/" name="query"/>
                <input type="hidden" name="type" value="Both">
                <span class="input-group-btn">
                    <button ng-click="search()" type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>

        <ul class="sidebar-menu">
            <li class="active">
                <a href="#">
                    <i class="fa fa-headphones"></i> <span>Everything</span>
                </a>
            </li> 
            <li>
                <a href="#">
                    <i class="fa fa-search"></i> <span>Advanced Search</span>
                </a>
            </li>                     
        </ul>
        <form class="sidebar-form" name="searchForm">

                <input type="text" name="query" class="form-control" placeholder="Filter by Song Title"  type="text" class="form-control" id="query" ng-pattern="/^[A-Za-z0-9 \$\!\-\_\' ]*$/" name="query"/ style="margin-bottom:15px;">

                <input type="text" name="quer" class="form-control" placeholder="Filter by Artist"  type="text" class="form-control" id="query" ng-pattern="/^[A-Za-z0-9 \$\!\-\_\' ]*$/" name="query" style="margin-bottom:15px;"/>


                <input type="text" name="quey" class="form-control" placeholder="Filter by Genre"  type="text" class="form-control" id="query" ng-pattern="/^[A-Za-z0-9 \$\!\-\_\' ]*$/" name="query" style="margin-bottom:15px;"/>
 

                <input type="text" name="qury" class="form-control" placeholder="Filter by Username" type="text" class="form-control" id="query" ng-pattern="/^[A-Za-z0-9 \$\!\-\_\' ]*$/" name="query" style="margin-bottom:20px;"/>

            <button ng-click="editsong(true)" class="button" ng-show="!isNew" style="background:-webkit-linear-gradient(bottom,#4d4d4d, #2f2f2f);background:-moz-linear-gradient(bottom,#4d4d4d, #2f2f2f); border:1px solid #222;"><i class="fa fa-search"></i> &nbsp;Advanced Search</button>
        </form>
    </section>
</aside> 