<!DOCTYPE html>
<!--<html lang='en' ng-app='enchord'>-->
<html lang='en'>
  <head>
    <% include head.ejs %>
  </head>
  <body>
	<form action="/signup" role="form" method="post">
		<!-- show any messages that come back with authentication -->
		<% if (message.length > 0) { %>
			<div class="alert alert-danger"><%= message %></div>
		<% } %>
		<div class="form-group" id="username_group">
			<label class="control-label" for="username">Username</label>
			<input type="text" class="form-control" id="username" name="username" placeholder="Username" />
		</div>
		<div class="form-group" id="email_group">
			<label class="control-label" for="email">Email</label>
			<input type="text" class="form-control" id="email" name="email" placeholder="Email"/>
		</div>
		<div class="form-group" id="password_group">
			<label class="control-label" for="password">Password</label>
			<input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
		</div>
		<div class="form-group" id="password_repeat_group">
			<label class="control-label" for="password_repeat">Confirm Password</label>
			<input type="password" class="form-control" id="password_repeat" name="password_repeat" placeholder="Confirm Password"/>
		</div>
		<!-- You're gonna want to do something here -->
		<button type="submit" onclick="return validateSignupForm()" class="btn btn-default">Register</button>
	</form>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>
  </body>
</html>