<!DOCTYPE html>
<html lang='en' ng-app='enchord'>
<!--<html lang='en'>-->
  <head>
    <% include head.ejs %>
  </head>
  <body ng-controller="SignupController">
  	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>
	<form action="/signup" method="post" name="signupForm" novalidate>

		<!-- USERNAME -->
		<div class="form-group" id="username_group" ng-class="{ 'has-error' : signupForm.username.$invalid && !signupForm.username.$pristine }">
			<label class="control-label" for="username">Username</label>
            <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="20" placeholder="Username" required>
            <span ng-show="signupForm.username.$error.required && !signupForm.username.$pristine" class="help-block">Enter an username</span>
            <span ng-show="signupForm.username.$error.minlength" class="help-block">Username is too short</span>
            <span ng-show="signupForm.username.$error.maxlength" class="help-block">Username is too long</span>
		</div>

		<!-- EMAIL -->
		<div class="form-group" id="email_group" ng-class="{ 'has-error' : signupForm.email.$invalid && !signupForm.email.$pristine }">
			<label class="control-label" for="email">Email</label>
            <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" required>
            <span ng-show="signupForm.email.$error.required && !signupForm.email.$pristine" class="help-block">Enter your email</span>
            <span ng-show="signupForm.email.$error.email" class="help-block">Enter a valid email</span>
		</div>

		<!-- PASSWORD -->
		<div class="form-group" ng-class="{ 'has-error' : signupForm.password.$invalid && !signupForm.password.$pristine }">
            <label class="control-label" for="password">Password</label>
            <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="8" ng-maxlength="20" placeholder="Password" ng-change="checkPass()" required>
            <span ng-show="signupForm.password.$error.required && !signupForm.password.$pristine" class="help-block">Enter your password</span>
            <span ng-show="signupForm.password.$error.minlength" class="help-block">Password is too short</span>
            <span ng-show="signupForm.password.$error.maxlength" class="help-block">Password is too long</span>
        </div>

        <!-- PASSWORD CONFIRMATION -->
        <div class="form-group" ng-class="{ 'has-error' : (signupForm.password_repeat.$invalid || (!passMatch && !signupForm.password.$invalid)) && !signupForm.password_repeat.$pristine}">
            <label class="control-label" for="password_repeat">Confirm Password</label>
            <input type="password" name="password_repeat" class="form-control" ng-model="user.password_repeat" ng-minlength="8" ng-maxlength="20" placeholder="Confirm Password" ng-change="checkPass()" required>
            <span ng-show="signupForm.password_repeat.$error.required && !signupForm.password_repeat.$pristine" class="help-block">Enter your password again</span>
            <span ng-show="signupForm.password_repeat.$error.minlength" class="help-block">Password is too short</span>
            <span ng-show="signupForm.password_repeat.$error.maxlength" class="help-block">Password is too long</span>
            <span ng-show="!passMatch && !signupForm.password_repeat.$invalid && !signupForm.password.$invalid" class="help-block">Passwords do not match</span>
        </div>
		<button ng-disabled="signupForm.$invalid || !passMatch" type="submit" class="btn btn-default">Register</button>
	</form>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>
  </body>
</html>