body {
	padding: 0;
	margin: 0 auto;
	background-color: #626E7E;
	font-family: 'Lato', sans-serif;
}

#wrapper {
	width: 100%;
	height: 100%;
	margin: 5%  auto;
}

p {
	font-size: 0.7em;
}

span {
	border-radius:50%; 
	border-style: solid; 
	border-color: #747474; 
	border-width:1px; 
	padding:5.5px;
}

.header {
	width: 300px;
	height: auto;
	margin: 0 auto;
	padding-bottom: 5px;
	color: #747474;
	font-weight: 300;
}
.header h2 {
	text-align: center;
	font-weight: 300;
	color: #747474;
}
.header h4 {
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	color: #747474;
}

.button {
	width: 240px;
	height: 45px;
	-webkit-border-radius: 4px;
        border-radius: 4px;
	margin: 0 auto;
	cursor: pointer;
	margin-bottom: 5%;
}

.facebook {
	background-color: #3C5A98;
	-webkit-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
    -ms-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
	margin: 5% auto;
}

.twitter {
	background-color: #55acee;
	-webkit-transition: background-color .2s ease;
	-moz-transition: background-color .2s ease;
	-ms-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
	margin: 5% auto;
}

.google {
	background-color: #dd4b39;
	-webkit-transition: background-color .2s ease;
	-moz-transition: background-color .2s ease;
    -ms-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

.facebook:hover {
	background-color: #88a5c2;
}

.twitter:hover {
	background-color: #18acee;
}

.google:hover {
	background-color: #ff4b39;
}

.submit {
	margin-top: 20px;
	background-color: #a6d7a0;
	-webkit-transition: background-color .2s ease;
	   -moz-transition: background-color .2s ease;
	    -ms-transition: background-color .2s ease;
	     -o-transition: background-color .2s ease;
	        transition: background-color .2s ease;
}

.submit:hover {
	margin-top: 20px;
	background-color: #7FFF00;
}

p {
	text-align: center;
	color: #747474;
	padding: 5px 0;
	font-weight: 300;
}

.form {
	position: relative;
	margin: 0 auto;
	width: 295px;
	height: auto;
	background-color: #ffffff;
	padding: 10px 0;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
}

input[type=text] {
	background: url(http://imageshack.com/a/img812/1096/y67f.png) no-repeat 15px 13px;
}

input[type=password] {
	position: relative;
	top: -5px;
	background: url(http://imageshack.com/a/img812/6980/lcnq.png) no-repeat 15px 13px;
}

input[type=text], input[type=password] {
	width: 195px;
	height: 40px;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	margin: 0 auto;
	display: block;
	border: none;
	background-color: #EBEBEB;
	padding: 2px 0 2px 45px;
	-webkit-background-size: 18px;
	     -o-background-size: 18px;
	        background-size: 18px;
	font-size: 15px;
	font-weight: 300;
	color: #777;
	-webkit-transition: background-color .2s ease;
	   -moz-transition: background-color .2s ease;
	    -ms-transition: background-color .2s ease;
	     -o-transition: background-color .2s ease;
	        transition: background-color .2s ease;
}

input[type=text]:focus, input[type=password]:focus {
	outline: none;
	background-color: #f3f3f3;
}

img	{
	width: 24px;
	height: auto;
	display: block;
    margin: 0 auto;
    padding: 11px 0;
}
