/*html {
    font-family : sans-serif, sans;
}*/
body {
    position: relative;
	overflow:visible;
}

div.chordSheet {
	position: relative;
	float:none
}
div.chordSheet p {
	position: relative;
	page-break-inside: avoid;
	white-space: pre;
	margin: 0px;
}
/*div.chordSheet p:after
 {
	content: '';
    display:block;
    height:0px;
    visibility: hidden;
}
.pagebreak {
	page-break-after: always; 
}*/
div.chordSheet .lineerror{
	color		: red;
	font-style	: italic;
}

div.chordSheet .heading {
    font-weight : bold;
    font-size   : 125%;
}

div.chordSheet .tab {
    font-family		: Courier, monospace;
}

div.chordSheet .linechord {
	font-weight : bold;
	font-style	:normal; 
}

div.chordSheet .linechordcomment{
	font-weight	: normal; 
    font-style  : italic;
}

div.chordSheet span[chord]:before {
    position    : relative;
    top         : -1.3em;
    display     : inline-block;
    content     : attr(chord);
    width       : 0;
    font-weight : bold;
	font-style	:normal; 
}

div.chordSheet span[chordcomment]:before {
    position    : relative;
    top         : -1.3em;
    display     : inline-block;
    content     : attr(chordcomment);
    width       : 0;
	font-weight	: normal; 
    font-style  : italic;
}
