
html {
      height:100%;
      width:100%;
      background:white;
}

body {
      background: none !important;
}

form {
      padding:0;
      margin:0;
}



.select {
      margin-left:5px !important;
      font-size:11px !important;
      margin-top:6px;
      margin-right:5px;
      display:inline-block;
      color:#555;
      font-weight:600;
}

#bar-bottom input,
#bar-bottom select {
      background:#383a3c;
      font-size:13px !important;
      font-weight:500;
      color:rgba(255,255,255,.75);
      margin-left:5px !important;
      margin-top:-4px !important;
}

.btn-group {
      margin-top:-1px !important;
      border:1px solid #383a3c;
      border-radius:3px;
}

.btn-group .btn.active {
      background:#383a3c;
      color:#eee;
      box-shadow:none;
}

.btn-group .btn:first-child {
      border-radius:2px 0 0 2px;
}

.btn-group .btn:last-child {
      border-radius: 0 2px 2px 0;
}


#login-modal {
      overflow:hidden;
}

#login-modal .control-group {
      margin-bottom: 13px !important;
}

#login-modal .control-group input {
      padding: 8px !important;
}

#login-modal label {
      font-size:12px;
      font-weight:500;
      color:#555;
      padding-top:10px;
}

#login-modal .modal-body {
      padding:0;
}

#login-modal input {
      display:block;
      float:none;
      width:auto;
      margin:0 5%;
      font-size:18px;
      padding:20px 0;
      box-shadow:none;
      border:none;
      overflow:hidden;
      width:90%;
      font-weight:400;
      font-smoothing:antialiased !important;
      -webkit-font-smoothing:antialiased !important;
      -moz-font-smoothing:antialiased !important;
      -o-font-smoothing:antialiased !important;

}

#question-modal textarea {
      font-size:18px;
}

#login-modal input:first-child {
      border-bottom:1px solid #eee;
}

.modal button {
      border:none !important;
      box-shadow:none !important;
      padding:10px 20px;
      border-radius:3px;
      font-size:14px !important;
      text-transform: none;
}



.modal-footer,
.modal-header {
      padding:10px 15px 8px;
      text-align:center;
      box-shadow:none !important;
      background:#f5f5f5;
      border:none;
      border-radius: 3px 3px 0 0;
}

.modal-footer {
            padding:10px 15px;
            text-align:right;


}

.btn,  select {
      font-weight:700;
      -moz-border-radius: 2px;
      -o-border-radius: 2px;
      -webkit-border-radius: 2px;
      font-size:11px !important;
      -webkit-font-smoothing:antialiased !important;
      -webkit-appearance: none;
      -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
      background-color: rgb(245, 245, 245);
      background-image: none;
      background-repeat: repeat-x;
      border-bottom-color: rgb(179, 179, 179);
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-left-color: rgba(0, 0, 0, 0.0980392);
      border-left-style: solid;
      border-left-width: 1px;
      border-right-color: rgba(0, 0, 0, 0.0980392);
      border-right-style: solid;
      border-right-width: 1px;
      border-top-color: rgba(0, 0, 0, 0.0980392);
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      border-top-style: solid;
      border-top-width: 1px;
      box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
      line-height: 20px;
      margin: 0px !important;
      padding-bottom: 3px;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 5px;
      text-align: center;
      text-indent: 0px;
      outline:none !important;

      font-family:"Helvetica Neue",sans-serif;
      border:none;
      background:none;
      box-shadow:none;
      border-radius:2px;
      text-transform: none;
      font-size:13px !important;
      font-weight:500;
      color:rgba(255,255,255,.75);
      padding:5px 13px 5px;
}
.btn-switch{
font-weight: 700;
-moz-border-radius: 2px;
-o-border-radius: 2px;
-webkit-border-radius: 2px;
font-size: 11px !important;
-webkit-font-smoothing: antialiased !important;
-webkit-appearance: none;
-webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
background-color: rgb(245, 245, 245);
background-image: none;
background-repeat: repeat-x;
border-bottom-color: rgb(179, 179, 179);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgba(0, 0, 0, 0.0980392);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgba(0, 0, 0, 0.0980392);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgba(0, 0, 0, 0.0980392);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
line-height: 20px;
margin: 0px !important;
padding-bottom: 3px;
padding-left: 12px;
padding-right: 12px;
padding-top: 5px;
text-align: center;
text-indent: 0px;
outline: none !important;
font-family: "Helvetica Neue",sans-serif;
border: none;
background: none;
box-shadow: none;
border-radius: 2px;
text-transform: none;
font-size: 13px !important;
font-weight: 500;
color: rgba(255,255,255,.75);
padding: 5px 13px 5px;
background:#383A3C;
}

.btn-switch:hover {
      background:#383A3C;
}

.navbar .btn:hover {
      background: #36383a;
      color:rgba(255,255,255,.75) !important;
}


select {
      background:#212327;

}

.btn-danger, .btn-danger:hover {
      background-color: #d14836;
      background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));
      background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
      background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
      background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
      background-image: -o-linear-gradient(top,#dd4b39,#d14836);
      background-image: linear-gradient(top,#dd4b39,#d14836);
      border: none
      -moz-border-radius: 2px;
      -o-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      text-transform:none;
      display: block;
      -webkit-transition:none .1s !important;
}


.btn-primary, .btn-primary:hover, .btn-primary.active {
      -webkit-align-items: flex-start !important;
      -webkit-appearance: none !important;
      -webkit-user-select: none !important;
      -webkit-writing-mode: horizontal-tb !important;
      background-color: rgb(77, 144, 254) !important;
      background-image: -webkit-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237)) !important;
      background-image: -moz-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237)) !important;
      background-image: -ms-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237)) !important;
      background-image: -o-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237)) !important;
      background-image: linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237)) !important;
      -webkit-transition:none !important;
      border-color: rgb(48, 121, 237) !important;
      border-style: solid !important;
      border-width: 0px !important;
      margin:0px 0 !important !important;
      text-transform:none !important;
      -webkit-transition:width .1s !important;
}

.user-cell-title {
      font-size:13px;
      margin-left:5px;
      font-weight:500;
}

.btn-primary.active {
      border-color:rgba(255,255,255,.01) !important;
      background-image: -webkit-linear-gradient(bottom,rgb(77, 144, 254),rgb(71, 135, 237));
      background-image: -moz-linear-gradient(bottom,rgb(77, 144, 254),rgb(71, 135, 237));
      background-image: -ms-linear-gradient(bottom,rgb(77, 144, 254),rgb(71, 135, 237));
      background-image: -o-linear-gradient(bottom,rgb(77, 144, 254),rgb(71, 135, 237));
      background-image: linear-gradient(bottom,rgb(77, 144, 254),rgb(71, 135, 237));
}

canvas:active {
      cursor:default;
}



.l {
      font-weight:400;
      color:white;
      font-size:11px;
      margin-left:15px;
      margin-right:2px;
}

b {
      font-weight:900;
}

.btn-none, 
.btn-none:hover, 
.btn-none:active {
      background:none;
      box-shadow:none;
 border:none;
      text-shadow:none;
      color:#ccc;
      cursor:default;
}

.question  {
      font-size:16px;
      -webkit-font-smoothing:antialiased !important;
}

#question-text {
      font-weight: 400 !important;
      font-size: 14px !important;
      padding: 7px;
}


#user-list {
      position:fixed;
      top:115px;
      right:0;
      width:200px;
}

.user-cell {
      border-bottom:1px solid white;
      background:#eee;
      padding:7px 5px;
      cursor:pointer;
      border-radius:2px 0 0 2px;
}

.user-cell-id {
      font-size:11px;
      font-weight:400;
      text-transform:uppercase;
      width:20px;
      padding:5px;
}

.user-cell-name {
      font-size:13px;
      font-weight:600;
}

#status {
      display:block;
}


/* Everything below width of 900px */
@media only screen and  (max-width : 900px) {
      img { 
            max-width: 100%; 
      }

      .container {
            width:100% !important;
      }
}


/* Everything below width of 750px */
@media only screen and  (max-width : 790px) {
      .buttontext {
            display:none !important;
      }
      .btn i {
            margin-right: 0px;
      }
}


/* Everything below width of 665px */
@media only screen and (max-width : 665px) {
      img { 
            max-width: 100%  
      }

      .btn-none {
            display:none !important;
      }

      #status {
            display:none;
      }

      
}


/* Everything below width of 585px (Mobile Version) */
@media only screen and (max-width : 585px) {
      
      .modal {
            position:absolute;
            width:100%;
            top:0px !important;
            margin:0 !important;
            z-index:999999999999999999;
            left:0%;
            border-radius:0;
      }

      video {
            width:100px;
      }

      .modal-body {
            max-height:none;
      }

      label {
            display:none;
      }

      .controls {
            margin:auto !important;
      }

      .select {
            display:none;
      }

      .segment { 
            float:left; 
            padding:5px 0px; 
            border-radius:0; 
            width:50%; 
            text-align:center;
      }

      h6 {
            display:none;
      }

      .user-cell-title { 
            margin-left:0px; 
      }

      #user-list { 
            position: fixed;
            top: 108px;
            left: 0;
            right: 0;
            width:100%;
      }

      input {
            padding:10px !important;
      }

      #bar-bottom select {
            margin-top: 0px !important;
      }

      .modal button {
            padding:10px 25px !important
      }
}

@media only screen and (max-width : 500px) {
      #insertimg {
            display: none;
      }
}

/* Everything below width of 460px (Mobile Version) */
@media only screen and (max-width : 460px) {
      select {
            display:None;
      }
      #insertimgli {
            display: none;
      }
}

@media only screen and (max-width : 360px) {
      .navbar li {
            margin-left: 0px !important;
            margin-right: 0px !important;
      }

      .nav {
            padding: 0px 0px 0px 0px !important;
      }

      #user-list {
            top: 53px !important;
      }

      #bar-bottom {
            top: 0px !important;
      }

      #bar-top {
            display: none;
      }

      .canvas {
            top: 53px !important;
      }

      #loading-overlay {
            top: 53px !important;
      }

      #loading-text {
            margin-top: 20% !important;
      }
      #insertimgli {
            display: none;
      }
}

@media only screen and (max-width : 585px) and (max-height: 400px) {
      .navbar li {
            margin-left: 0px !important;
            margin-right: 0px !important;
      }

      .nav {
            padding: 0px 0px 0px 0px !important;
      }

      #user-list {
            top: 53px !important;
      }

      #bar-bottom {
            top: 0px !important;
      }

      #bar-top {
            display: none;
      }

      .canvas {
            top: 53px !important;
      }

      #loading-overlay {
            top: 53px !important;
      }

      #loading-text {
            margin-top: 20% !important;
      }
}


.color-picker a, .color-picker li {
            width:28px; 
            height:28px;
            float:left;
            margin:0 0 1px 1px !important;
            padding:0 !important
}

.color-picker .dropdown-menu {
      border-radius: 2px;
      min-width: 148px;
      margin-top: 5px;
      padding:3px 2px;
      box-shadow:none;
      border:none;

}

#btn-color {
      border-radius:999px;
     padding: 5px 11px;
     margin-top: 1px !important;
margin-bottom: 0px !important;
box-shadow:0 1px 10px rgba(255,255,255,.05);
}

#btn-color * {
      border-top-color:#eee !important;
      border-bottom-color:#eee !important;
}

.btn:focus {
      background:none;
}

.color-picker {
      position: relative;
display: inline-block;
margin-left:10px;
margin-right:15px;
}

#savecanvas {
     color: rgba(255,255,255,.75); 
}

#raisehand .navbar .btn.handactive {
     color: #333333 !important;
}

.handactive:focus {
      background-color: #e6e6e6 !important;
      color: #333333 !important;
}

.handactive:hover {
      background-color: #e6e6e6 !important;
      color: #333333 !important;
}

#clearcanvas:focus {
      color: rgba(255,255,255,.75) !important;
}

.handinactive:hover {
      color: rgba(255,255,255,.75) !important;
}

#loading-overlay {
      display:none;
}

.loading #loading-overlay {
      display:block;
}

.loading #user-list,
.loading canvas,
.loading #status {
      -webkit-filter:blur(10px);
}

#loading-overlay {
      position:absolute;
      top:102px;
      bottom:0;
      right:0;
      left:0;
      background:rgba(0,0,0,.1);
}

#loading-text {
      
      color:black;
      text-align: center;
      margin:auto;
      margin-top:10%;
      font-size:22px;
      font-weight:300;
}

#error-reconnect:focus {
      background-color: rgb(77, 144, 254) !important;
      background-image: -webkit-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237)) !important;
}

#thickness {
      -moz-appearance:none;
      text-indent: 0.01px;
      text-overflow: '';
}

#thickness::-ms-expand {
    display: none;
}

#imgplacer {
      display: none;
      position: absolute;
      top: 150px;
      left: 0px;
      z-index: 100;
      border: 3px dashed #999999;
}

#input-image {
      width: 100%;
      height: 100%;
      box-shadow: none;
      border: none;
}

.user-cell-clone {
      float:right;
      width:40px;
      height: 18px;
      margin-top:3px;
      margin-right: 0px;
}

.user-cell-clone-icon {
      margin-left: 15px;
      margin-top:2px !important;
      padding-top: 0px !important;
      background-image: url("../img/file-import.png") !important;
      background-repeat: no-repeat;
      width: 14px !important;
      height: 14px !important;
      display: inline-block;
}


#clearcanvas:hover, #insertimg:hover, #raise-hand:hover {
      color:rgba(255,255,255,.75) !important;
      background-color: #212327;
}

#clearcanvas {
      margin-left: 5px !important;
}

