html {
    font-family : sans-serif, sans;
}

p {
	page-break-inside : avoid;
	white-space: pre;
}

.lineerror{
	color		: red;
	font-style	: italic;
	font-size	: 100%;
    font-weight : normal;

}

.heading {
    font-weight : bold;
    font-size   : 125%;
}
.tab {
    font-family		: Courier, monospace;
}

.linechord {
	font-weight : bold;
	font-style	:normal; 
	font-size	:100%
}

.linechordcomment{
	font-weight	: normal; 
    font-style  : italic;
	font-size	: 100%;
}

span[chord]:before {
    position    : relative;
    top         : -1.2em;
    display     : inline-block;
    content     : attr(chord);
    width       : 0;
    font-weight : bold;
	font-style	:normal; 
	font-size	:100%;
}

span[chordcomment]:before {
    position    : relative;
    top         : -1.2em;
    display     : inline-block;
    content     : attr(chordcomment);
    width       : 0;
	font-weight	: normal; 
    font-style  : italic;
	font-size	: 85%
}
