<!-- idk what to put for action right now -->
<form action="\login" role="form" method="post">
	<div class="form-group" id="username_group">
		<label class="control-label" for="username">Username</label>
		<input type="text" class="form-control" id="username" name="username" placeholder="Username" />
	</div>
	<div class="form-group" id="password_group">
		<label class="control-label" for="password">Password</label>
		<input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
	</div>
	<!-- You're gonna want to do something here -->
	<button type="submit" onclick="#" class="btn btn-default">Login</button>
</form>
